// out: assets/styles.css

@col-white: #fefefe;
@col-brand-1: #6d9cc6;
@col-brand-2: #90746d;
@col-brand-3: #6a5e5e;

@col-nav-link: #3b3a3c;
@col-nav-link-hover: #5574bb;

@col-bg-light: #f1f5fa;
@col-bg-med: #e6eef5;

@col-panel: @col-bg-light;
@col-navbar: @col-bg-med;

@col-blue: #0099FF;
@col-yellow: #FFD966;
@col-pink: #FF66B3;
@col-brown: #8B4513;

@col-actor: #fb644d;
@col-collection: #FFD966;
@col-event: #0099FF;
@col-object: #B0927A;
@col-person: #FF66B3;
@col-place: #00CC66;

html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

h1, h2, h3 {
  color: @col-brand-1;
}

p {
  line-height: 1.4;
}

.color-background-light {
  background-color: lighten(@col-panel, 1%);
}

.jila-component {
  &.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .card {
      border: 0;
      border-radius: 4px;
      box-shadow: 0 1px 4px 0 rgba(red(darken(@col-bg-med,30%)), green(darken(@col-bg-med,30%)), blue(darken(@col-bg-med,30%)), 0.2);
      background-color: @col-white;
      overflow: hidden;
      position: relative;
      flex: 0 1 20rem;
      margin-right: 1%;
      margin-bottom: 1%;
      transition: all .2s ease-in-out;
      top: 0;
      left: 0;
      &:hover {
        box-shadow: 0 2px 5px 0 rgba(red(darken(@col-bg-med,30%)), green(darken(@col-bg-med,30%)), blue(darken(@col-bg-med,30%)), 0.2);
        position: relative;
        top: -1px;
      }
      .card-body {
        background-color: @col-white;
        bottom: 0;
        min-height: 4rem;
        padding: 8px 4px;
        text-align: center;
        position: absolute;
        width: 100%;
      }
      .card-image {
        max-width: 100%;
        height: 25rem;
        overflow: hidden;
        img {
          max-width: 100%;
        }
        .icon {
          text-align: center; 
          padding-top: 5rem;
          img {
            max-width: 60%;
          }
        }
      }
    }
    .semantic-table-holder {
      width: 100%;
    }
  }
  &.entities-list {
    padding: 0;
    margin-top: 1rem;
    li {
      list-style: none;
      margin-bottom: .5rem;
    }
  }
  &.entity-view-container {
    .graph-view-container {
      padding: 0;
      .graph-view {
        height: 90vh
      }
    }
    .panel-view-container {
      &::after {
        content: ' ';
        display: block;
        height: 20rem;
        // margin-right: -15px;
        // margin-left:-15px;
        background-image: linear-gradient(to bottom, @col-panel, transparent);
      }
      padding: 0;
      .panel-view {
        background-color: @col-panel;
        margin-bottom: 0;
        padding-top:2rem;
        .card {
          box-shadow: 0 1px 10px 0 rgba(red(darken(@col-panel,60%)),green(darken(@col-panel,60%)),blue(darken(@col-panel,60%)), 0.15);
        }
        .entity-details {
          padding-left: 1rem;
        }
        .entity-details-images {
          padding: 0 1rem;
        }
        .relations-table {
          margin-left:1rem;
        }
        .tabs {
          margin-top: 2rem;
        }
        .table-hover {
          > tbody {
            > tr:hover {
              background-color: lighten(@col-panel, 1%)
            }
          }
        }
      }
    }
  }
  &.home-header {
    padding-top: 3rem;
    h1 {
      text-transform: uppercase;
      margin-bottom: 4rem;
    }
  }
  &.page-title {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  &.panel-entity-details {
    .image {
      img {
        max-width: 100%;
        max-height: 300px;
      }
    }
  }
  &.plus-button {
    display: inline-block;
    margin-left: 1rem;
  }
  .relations-table {
    td, th {
      padding-top: 0;
      padding-bottom: 0;
      padding-right:1rem;
      padding-bottom: 1rem;
    }
    .entity-tag-row {
      margin-bottom: .5rem;
    }
    .griddle-container {
      .griddle-custom-row {
        display: block !important;
      }
    }
  }
  .tag {
    text-decoration: none;
    a {
      text-decoration: none;
    }
    > span {
      display: inline-block;
      max-width: 90%;
    }
    > a > span, span {
      padding: 4px;
      border-radius: 6px;
    }
    &.actor > span {
      background-color: @col-actor;
    }
    &.collection > span {
      background-color: @col-collection;
    }
    &.event > span {
      background-color: @col-event;
    }
    &.object > span {
      background-color: @col-object;
    }
    &.place > span {
      background-color: @col-place;
    }
    &.person > span {
      background-color: @col-person;
    }
  }
}

* > .jila-component {
  &.show-on-hover {
    visibility: hidden;
  }
}

*:hover > .jila-component {
  &.show-on-hover {
    visibility: visible;
  }
}
// Overrides

ol.page-breadcrumb {
    position: static;
}

.navbar {
  height: 4rem;
  min-height: 4rem;
  background-color: @col-navbar;
  .navbar-nav {
    li {
      a {
        color: @col-nav-link;
        font-weight: normal;
      }
      a:hover, a:active {
        color: @col-nav-link-hover;
      }
      &.main-menu {
        > a.dropdown-toggle {
          position: relative;
          top: -9px;
        }
      }
    }
  }
}

.rs-header-logo {
  color: @col-brand-2;
}

.semantic-facet-holder {
  .facet {
    border: none;
    &__category-selector-holder {
      display: none;
    }
    &__relation {
     &__header {
        border: 0;
        border-radius: .4rem;
        padding-right: .4rem;
        &:hover {
        background-color: @col-panel;
        }
      }
      &__body {
        background-color: @col-white;
      }
      &__values {
        margin-top: 0;
        padding-top:10px;
      }
    }
  }
  .show-facet-button {
    display: none;
  }
  .facet-relations {
    width: auto;
  }
}

.system-spinner {

    font-weight: bold;
    color: @col-brand-1;
    
    &__icon {
        vertical-align: middle;
        animation: fa-spin 2s infinite linear;
        @keyframes fa-spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(359deg);
          }
        }
        &:before {
            content: '\f1ce';
            color: @col-brand-1;
            font-weight: bold;
        }
    }
}

.pagination, .griddle-footer .pagination {
  justify-content: center;
  margin-top:1rem;
  > li {
    margin: 1.5rem 0;
    > a {
      font-weight: bold;
    }
    &.active > a {
      border-radius: .4rem;
    }
  }
}