// out: assets/styles.css

@col-brand: #1a3462;

// Overrides

ol.page-breadcrumb {
    position: static;
}

.system-spinner {

    font-weight: bold;
    color: @col-brand;
    
    &__icon {
        vertical-align: middle;
        animation: fa-spin 2s infinite linear;
        @keyframes fa-spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(359deg);
          }
        }
        &:before {
            content: '\f1ce';
            color: @col-brand;
            font-weight: bold;
        }
    }
}