// out: assets/styles.css

@col-white: #fefefe;
@col-brand: #4C45FF;
@col-lightgrey: #F8F8F8;
@col-grey: #707070;

html, body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  color: @col-brand;
}

.jila-component {
  &.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .card {
      border: 1px solid @col-lightgrey;
      border-radius: 4px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
      flex: 0 1 20rem;
      margin-right: 1%;
      margin-bottom: 1%;
      &:hover {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      }
      .card-body {
        min-height: 4rem;
        padding: 4px;
        padding-top:8px;
        text-align: center;
      }
      .card-image {
        max-width: 100%;
        max-height: 20rem;
        overflow: hidden;
        img {
          max-width: 100%;
        }
      }
    }
    .semantic-table-holder {
      width: 100%;
    }
  }
}

// Overrides

ol.page-breadcrumb {
    position: static;
}

.navbar {
  height: 4rem;
  min-height: 4rem;
  background-color: @col-lightgrey;
  .navbar-nav {
    li {
      a {
        color: @col-grey;
      }
      a:hover {
        color: lighten(@col-grey, 10%)
      }
    }
  }
}

.rs-header-logo {
  color: @col-brand;
}

.semantic-facet-holder {
  .show-facet-button {
    display: none;
  }
  .facet-relations {
    width: auto;
  }
}

.system-spinner {

    font-weight: bold;
    color: @col-brand;
    
    &__icon {
        vertical-align: middle;
        animation: fa-spin 2s infinite linear;
        @keyframes fa-spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(359deg);
          }
        }
        &:before {
            content: '\f1ce';
            color: @col-brand;
            font-weight: bold;
        }
    }
}