<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="rs-header">
        <div class="navbar-header">
            <a class="rs-header-logo" href="/">
                <img class="jila-component jila-logo header" src="/assets/no_auth/Logo_JILA.svg" alt="{{deploymentTitle}}">
            </a>
            <ul class="nav navbar-nav rs-only-xs">
                <bs-nav-dropdown title="Menü" id="basic-nav-dropdown" class="main-menu">
                    <li><semantic-link iri="page:persons"><i18n>nav_persons</i18n></semantic-link></li>
                    <li><semantic-link iri="page:about"><i18n>nav_about</i18n></semantic-link></li>
                    <li><a href="/sparql">SPARQL</a></li>
                    <mp-anonymous-hidden alt='<li><a href="/login" title="login">Login</a></li>'>
                        <li><semantic-link iri="rsp:admin">Admin</semantic-link></li>
                    </mp-anonymous-hidden>
                </bs-nav-dropdown>
            </ul>
            <ul class="nav navbar-nav rs-xs-none">
                <li class="vl"></li>
                <li><semantic-link iri="page:persons"><i18n>nav_persons</i18n></semantic-link></li>
                <li><semantic-link iri="page:about"><i18n>nav_about</i18n></semantic-link></li>
                <li><a href="/sparql">SPARQL</a></li>
                <mp-anonymous-hidden alt='<li><a href="/login" title="login">Login</a></li>'>
                    <li><semantic-link iri="rsp:admin">Admin</semantic-link></li>
                </mp-anonymous-hidden>
                <mp-user-language-switch languages='["de", "en"]'></mp-user-language-switch>
            </ul>
        </div>
    </div>
</nav>