<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="rs-header">
        <div class="navbar-header rs-xs-none">
            <a class="rs-header-logo" href="/">{{deploymentTitle}}</a>
        </div>
        <div class="navbar-header" id="rs-navbar">
            <ul class="nav navbar-nav rs-xs-none">
                <li class="vl"></li>
                <li><semantic-link iri="page:persons">Personen</semantic-link></li>
                <li><semantic-link iri="page:ittenArchive">Itten-Archiv</semantic-link></li>
                <li><semantic-link iri="page:about">Über uns</semantic-link></li>
                <li><a href="/sparql">SPARQL</a></li>
                <mp-anonymous-hidden alt='<li><a href="/login" title="login">Login</a></li>'>
                    <li><semantic-link iri="rsp:admin">Admin</semantic-link></li>
                </mp-anonymous-hidden>
            </ul>
            <bs-nav-dropdown title="{{deploymentTitle}}" id="basic-nav-dropdown"  class="rs-only-xs">
                <li class="vl"></li>
                <li><semantic-link iri="page:persons">Personen</semantic-link></li>
                <li><semantic-link iri="page:ittenArchive">Itten-Archiv</semantic-link></li>
                <li><semantic-link iri="page:about">Über uns</semantic-link></li>
                <li><a href="/sparql">SPARQL</a></li>
                <mp-anonymous-hidden alt='<li><a href="/login" title="login">Login</a></li>'>
                    <li><semantic-link iri="rsp:admin">Admin</semantic-link></li>
                </mp-anonymous-hidden>
            </bs-nav-dropdown>
        </div>
    </div>
</nav>