html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}
h1,
h2,
h3 {
  color: #4C45FF;
}
.jila-component.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.jila-component.card-container .card {
  border: 1px solid #F8F8F8;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  flex: 0 1 20rem;
  margin-right: 1%;
  margin-bottom: 1%;
}
.jila-component.card-container .card:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.jila-component.card-container .card .card-body {
  min-height: 4rem;
  padding: 4px;
  padding-top: 8px;
  text-align: center;
}
.jila-component.card-container .card .card-image {
  max-width: 100%;
  max-height: 20rem;
  overflow: hidden;
}
.jila-component.card-container .card .card-image img {
  max-width: 100%;
}
.jila-component.card-container .semantic-table-holder {
  width: 100%;
}
.jila-component.entity-view-container .panel-view {
  background-color: #F8F4FF;
  margin-top: -10px;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 0;
  padding: 4rem 1rem;
}
.jila-component.entity-view-container .graph-view {
  height: 96vh;
}
ol.page-breadcrumb {
  position: static;
}
.navbar {
  height: 4rem;
  min-height: 4rem;
  background-color: #F8F8F8;
}
.navbar .navbar-nav li a {
  color: #707070;
}
.navbar .navbar-nav li a:hover {
  color: #8a8a8a;
}
.rs-header-logo {
  color: #4C45FF;
}
.semantic-facet-holder .show-facet-button {
  display: none;
}
.semantic-facet-holder .facet-relations {
  width: auto;
}
.system-spinner {
  font-weight: bold;
  color: #4C45FF;
}
.system-spinner__icon {
  vertical-align: middle;
  animation: fa-spin 2s infinite linear;
}
@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.system-spinner__icon:before {
  content: '\f1ce';
  color: #4C45FF;
  font-weight: bold;
}
