html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}
h1,
h2,
h3 {
  color: #4C45FF;
}
.jila-component.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.jila-component.card-container .card {
  border: 1px solid #F8F8F8;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: #fefefe;
  flex: 0 1 20rem;
  margin-right: 1%;
  margin-bottom: 1%;
  position: relative;
}
.jila-component.card-container .card:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.jila-component.card-container .card .card-body {
  background-color: #fefefe;
  bottom: 0;
  min-height: 4rem;
  padding: 4px;
  padding-top: 8px;
  text-align: center;
  position: absolute;
  width: 100%;
}
.jila-component.card-container .card .card-image {
  max-width: 100%;
  height: 25rem;
  overflow: hidden;
}
.jila-component.card-container .card .card-image img {
  max-width: 100%;
}
.jila-component.card-container .card .card-image .icon {
  text-align: center;
  padding-top: 5rem;
}
.jila-component.card-container .card .card-image .icon img {
  max-width: 60%;
}
.jila-component.card-container .semantic-table-holder {
  width: 100%;
}
.jila-component.entities-list {
  padding: 0;
  margin-top: 1rem;
}
.jila-component.entities-list li {
  list-style: none;
  margin-bottom: 1.5rem;
}
.jila-component.entity-view-container .panel-view-container::after {
  content: '.';
  display: block;
  height: 20rem;
  background-image: linear-gradient(to bottom, #F8F4FF, transparent);
}
.jila-component.entity-view-container .panel-view-container .panel-view {
  background-color: #F8F4FF;
  margin-top: -10px;
  margin-bottom: 0;
  padding: 4rem 1rem;
}
.jila-component.entity-view-container .graph-view {
  height: 96vh;
}
.jila-component.panel-entity-details .image img {
  max-width: 100%;
}
.jila-component .relations-table .griddle-container .griddle-custom-row {
  display: block !important;
}
.jila-component .relations-table .griddle-container > div > div > a {
  display: block;
  margin-bottom: 5px;
}
.jila-component .relations-table summary {
  margin-bottom: 1rem;
}
.jila-component .tag {
  text-decoration: none;
}
.jila-component .tag a {
  text-decoration: none;
}
.jila-component .tag > span {
  display: inline-block;
}
.jila-component .tag > a > span,
.jila-component .tag span {
  padding: 4px;
  border-radius: 6px;
}
.jila-component .tag.actor > span {
  background-color: #fb644d;
}
.jila-component .tag.collection > span {
  background-color: #FFD966;
}
.jila-component .tag.event > span {
  background-color: #FF9900;
}
.jila-component .tag.place > span {
  background-color: #00CC66;
}
.jila-component .tag.person > span {
  background-color: #FF66B3;
}
ol.page-breadcrumb {
  position: static;
}
.navbar {
  height: 4rem;
  min-height: 4rem;
  background-color: #e9e8ff;
}
.navbar .navbar-nav li a {
  color: #4C45FF;
}
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:active {
  color: #7d78ff;
}
.rs-header-logo {
  color: #4C45FF;
}
.semantic-facet-holder .show-facet-button {
  display: none;
}
.semantic-facet-holder .facet-relations {
  width: auto;
}
.system-spinner {
  font-weight: bold;
  color: #4C45FF;
}
.system-spinner__icon {
  vertical-align: middle;
  animation: fa-spin 2s infinite linear;
}
@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.system-spinner__icon:before {
  content: '\f1ce';
  color: #4C45FF;
  font-weight: bold;
}
