<semantic-search
    categories='[[> partial:searchCategories ]]'
    search-profile='[[> partial:searchProfile ]]'
    relations='[[> partial:searchRelations ]]'
    limit='9999'
>
    <semantic-search-query-constant 
        domain='<[[resolvePrefix "crm:E39_Actor"]]>'
        query='SELECT ?subject WHERE { 
            ?subject a ?type .
            VALUES (?type) {
                (search:Person)
                (search:Group)
            }                
        }'
    ></semantic-search-query-constant>
    
    
    <bs-row>
        <bs-col md="4" sm="12">
            <semantic-search-facet
                open-by-default="true"
                facet-values-threshold="1000"
                default-value-queries='{
                    "literal": "SELECT ?literal ?order (COUNT(DISTINCT $subject) AS ?count) 
                        WHERE { FILTER(?__facetRelationPattern__) } 
                    GROUP BY ?literal ?order ORDER BY ?order ?literal"
                }'
            >
            </semantic-search-facet>
        </bs-col>

        <bs-col md="8" sm="12">

            <semantic-search-query-keyword 
                min-search-term-length='3' 
                debounce='600'
                default-query='SELECT ?subject WHERE {
                    ?subject a ?type .
                    VALUES (?type) {
                        (search:Person)
                        (search:Group)
                    }    
                    {
                        FILTER EXISTS {
                            {
                                GRAPH <https://resource.jila.zb.uzh.ch/graph/network> {
                                    ?subject ?predicate ?object .
                                }
                            } UNION {
                                GRAPH <https://resource.jila.zb.uzh.ch/graph/network> {
                                    ?object ?predicate ?subject .
                                }
                            } 
                        }
                    }
                }'

                query='SELECT ?subject WHERE {
                        ?subject a/rdfs:subClassOf* crm:E39_Actor;
                        rdfs:label|crm:P1_is_identified_by|crm:P1_is_identified_by/rdfs:label|crmdig:L54_is_same-as/gndo:variantName ?searchTerm .   
                        FILTER EXISTS {
                            GRAPH <https://resource.jila.zb.uzh.ch/graph/network> {
                                ?subject ?predicate ?object .
                            } 
                        }
                        OPTIONAL {
                            ?subject rdfs:label ?label.
                            FILTER(?label != ?searchTerm)
                        }
                        BIND(BOUND(?label) AS ?displayAltLabel)
                        SERVICE <http://www.bigdata.com/rdf/search#search> {
                            ?searchTerm
                                    bds:search        ?__token__ ;
                                    bds:relevance     ?score ;
                                    bds:matchAllTerms "true";
                                    bds:rank          ?rank .
                        }
                        BIND(?__token__ as ?searchToken)
                    } ORDER BY DESC(?score)
                '>
            </semantic-search-query-keyword>
            <semantic-search-result-holder>
                <div data-flex-self="md-full">
                    <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
                    <semantic-search-result id='semantic-search-result'>
                        <mp-sparql-result-counts id='semantic-search-result-count' query="SELECT DISTINCT ?subject {}"
                                                template='{{> template}}'
                        >
                        <template id='template'>
                            <div>
                            <span class="num-results">Found <span class="num-results-color">{{#if hasLimit}}{{totalNumberOfResults}}{{else}}{{numberOfResults}}{{/if}}</span> results</span>
                            </div>
                        </template>
                        </mp-sparql-result-counts>
                    </semantic-search-result>
            
                    <semantic-search-result>
                        <div class="jila-component card-container">
                            <semantic-table 
                                id='grid-result'
                                query='SELECT DISTINCT ?subject ?sortLabel ?searchToken (MIN(?displayAltLabel) as ?displayAltLabel) WHERE {
                                    ?subject rdfs:label ?sortLabelRaw .
                                    BIND(xsd:string(?sortLabelRaw) AS ?sortLabel)
                                }
                                GROUP BY ?subject ?sortLabel ?searchToken
                                ORDER BY ?sortLabel'
                                number-of-displayed-rows="50"
                                tuple-template='{{> partial:entityCard subject=subject.value displayAltLabel=displayAltLabel.value searchTerm=searchToken.value}}'
                                options='{
                                    "showFilter": false
                                }'
                            >    
                            </semantic-table>
                        </div>
                    </semantic-search-result>
                </div>
            </semantic-search-result-holder>
        </bs-col>
    </bs-row>
</semantic-search>