<h2><mp-label iri="{{entityiri}}"></mp-label></h2>
<p>
  <button><semantic-link iri="page:viewEntity" urlqueryparam-entityiri="{{entityiri}}">Focus</semantic-link></button>
  <button><semantic-link iri="{{entityiri}}">Source</semantic-link></button>
</p>
<div>
    <mp-resource-thumbnail iri="{{entityiri}}"></mp-resource-thumbnail>
</div>
<div>

  [[> component-relations-table]]
  
</div>
<div>        

  [[> component-fields-visualisation]]

</div>

[[#*inline "component-fields-visualisation"]]
  <mp-field-visualization
    subject="{{entityiri}}"
    fields='[[> partial:fieldDefinitions]]'
    template='{{> field-table-template }}'
  >
      <template id="field-table-template">
          {{#if noData}}
              <div class="bs-alert">No data</div>
          {{else}}
              <div class="table-responsive rs-table">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th scope="col" style="width: 30%">Field</th>
                              <th scope="col">Value</th>
                          </tr>
                      </thead>
                      <tbody>
                      {{#each fields as |field|}}
                          {{#if field.values}}
                              <tr>
                                  <td>{{field.label.0.value}}</td>
                                  <td>
                                      {{#ifCond (objectLength field.values) '>' 1}}
                                          <ol>
                                              {{#each field.values as |value|}}
                                                  <li>
                                                      {{> field-value-template field=field value=value}}
                                                  </li>
                                              {{/each}}
                                          </ol>
                                      {{/ifCond}}

                                      {{#ifCond (objectLength field.values) '===' 1}}
                                          {{#each field.values as |value|}}
                                              {{> field-value-template field=field value=value}}
                                          {{/each}}
                                      {{/ifCond}}
                                  </td>
                              </tr>
                          {{/if}}
                                          
                      {{/each}}
                      </tbody>
                  </table>
              </div>
          {{/if}}
      </template>
      <template id="field-value-template">
          <div>
              {{#ifCond field.xsdDatatype.value "=="  "http://www.w3.org/2001/XMLSchema#string"}}
              {{value.value.value}}
              {{/ifCond}}
              {{#ifCond field.xsdDatatype.value "=="  "http://www.w3.org/2001/XMLSchema#langString"}}
              {{value.value.value}}{{#if value.value.language}} - {{value.value.language}}{{/if}}
              {{/ifCond}}
              {{#ifCond field.xsdDatatype.value "==" "http://www.w3.org/2001/XMLSchema#dateTime"}}
              {{value.value.value}}
              {{/ifCond}}
              {{#ifCond field.xsdDatatype.value "=="  "http://www.w3.org/2001/XMLSchema#anyURI"}}
              {{#if value.value.datatype}}
                  [[!-- in the messy data it can happen that field is anyURI but actual data is literal --]]
                  {{value.value.value}}
              {{else}}
                  <semantic-link iri="page:viewEntity" urlqueryparam-entityiri="{{value.value.value}}"><mp-label iri="{{value.value.value}}"></mp-label></semantic-link>
              {{/if}}
              {{/ifCond}}
          </div>          
      </template>
  </mp-field-visualization>
[[/inline]]

[[#*inline "component-relations-table"]]
  <h3>Beziehungen</h3>
  <semantic-query
    query="SELECT 
        (GROUP_CONCAT(DISTINCT ?subject;SEPARATOR=';') as ?subjects) 
        (COUNT(DISTINCT ?subject) as ?num_subjects) 
        ?predicate 
        (GROUP_CONCAT(DISTINCT ?object;SEPARATOR=';') as ?objects) 
        (COUNT(DISTINCT ?object) as ?num_objects) 
      WHERE {
        BIND(<{{entityiri}}> AS ?subject)
        GRAPH <https://resource.swissartresearch.net/graph/network> {
          ?subject ?predicate ?object .
        }
        ?subject a ?typeSubject .
        ?object a ?typeObject .
        VALUES (?typeSubject) {
          (search:Person)
          (search:Actor)
          (search:Place)
          (search:Collection)
          (search:Event)
          (crm:E21_Person)
        }
        VALUES (?typeObject) {
          (search:Person)
          (search:Actor)
          (search:Place)
          (search:Collection)
          (search:Event)
          (crm:E21_Person)
        }

      } 
      GROUP BY ?predicate
    "
    template='{{> template-relations-table}}'
    column-configuration='[
      {
        "displayName": "Predicate",
        "variableName": "predicate"
      },
      {
        "displayName": "Object",
        "variableName": "objects",
        "cellTemplate": "{{> template-split-entities entities=objects numEntities=num_objects.value}}"
      }
    ]'  
  >
      <template id="template-relations-table">
        <table class="jila-component relations-table">
          <tbody>
            {{#each bindings}}
              <tr>
                <th><mp-label iri="{{predicate.value}}"></mp-label></th>
                <td>{{> template-split-entities entities=objects numEntities=num_objects.value}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </template>
      <template id="template-split-entities">
        {{#ifCond numEntities ">" 3}}
          <details>
            <summary>
              <semantic-query
                query="SELECT DISTINCT ?type WHERE {
                  ?entity a ?type .
                  ?type rdfs:subClassOf* crm:E1_CRM_Entity .
                  VALUES (?entity) {
                    {{#each (split entities.value ';') }}
                      (<{{this}}>)
                    {{/each}}
                  }
                }"
                template="{{> template-types}}"
              >
                <template id="template-types">
                  <div>{{#each bindings}}<mp-label iri="{{type.value}}"></mp-label>{{#if @last}}{{else}}, {{/if}}{{/each}} ({{numEntities}})</div>
                </template>
              </semantic-query> 
            </summary>
            <ul class="jila-component entities-list">
              {{#each (split entities.value ";")}}
                <li>{{> template-entity-tag}}</li>
              {{/each}}
            </ul>
          </details>
        {{else}}
          {{#each (split entities.value ";")}}
            {{> template-entity-tag}}{{#if @last}}{{else}}, {{/if}}
          {{/each}}
        {{/ifCond}}
      </template>
      <template id="template-entity-tag">

        <mp-event-trigger 
            id='node-highlight-{{this}}'
            type="JILA.PanelNodeClicked"
            data='{"node": "{{this}}"}'
        >
          <a href="#"><mp-label iri="{{this}}"></mp-label></a>
        </mp-event-trigger>
        <semantic-query
          query="SELECT ?type WHERE {
            BIND(<{{this}}> AS ?entity)
            ?entity a ?type .
            VALUES(?type) {
              (search:Actor)
              (search:Event)
              (search:Person)
              (search:Place)
            }
          } LIMIT 1"
          template="{{> template-type-label type=bindings.0.type.value}}">
            <template id="template-type-label">
              &nbsp;(<mp-label iri="{{type}}"></mp-label>)
            </template>
          </semantic-query>
      </template>
    </semantic-query>
[[/inline]]