[[> partial:langLabels]]

{
    "categories": [
        { "iri": "<https://platform.swissartresearch.net/search/Person>", "label": "Person", "thumbnail": "../images/fcs/actors.svg"},
        { "iri": "<http://www.cidoc-crm.org/cidoc-crm/E52_Time-Span>", "label": "Time", "thumbnail": "../images/fcs/dates.svg" }

    ],
    "relations": [
        {
            "iri": "<https://platform.swissartresearch.net/search/Person_born_at_Time>",
            "hasDomain": "<https://platform.swissartresearch.net/search/Person>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E52_Time-Span>",
            "label": "[[> label_person_born]]"
        },
        {
            "iri": "<https://platform.swissartresearch.net/search/Person_died_at_Time>",
            "hasDomain": "<https://platform.swissartresearch.net/search/Person>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E52_Time-Span>",
            "label": "[[> label_person_died]]"
        }
    ]
}