{
    "<https://platform.swissartresearch.net/search/Person_active_at_Place>": [{
        "kind": "resource",
        "queryPattern": "{
            ?subject crmdig:L54_is_same-as/gndo:placeOfActivity ?__value__ .
        }"
    }],
    "<https://platform.swissartresearch.net/search/Person_appears_as_Type>": [{
        "kind": "resource",
        "queryPattern": "{
            ?event crm:P14_carried_out_by ?subject ;
                crm:P2_has_type ?__value__ .
        }"
    }],
    "<https://platform.swissartresearch.net/search/Person_born_at_Place>": [{
        "kind": "resource",
        "queryPattern": "{
            ?subject crmdig:L54_is_same-as/gndo:placeOfBirth ?__value__ .
        }"
    }],
    "<https://platform.swissartresearch.net/search/Person_born_at_Time>": [{
        "kind": "date-range",
        "queryPattern": "{
            ?subject crm:P98i_was_born/crm:P4_has_time-span/crm:P82_at_some_time_within ?date .
            FILTER(STRDT(STR(?date), xsd:date) <= ?__dateEndValue__) .
            FILTER(STRDT(STR(?date), xsd:date) >= ?__dateBeginValue__) .
        }"
    }],
    "<https://platform.swissartresearch.net/search/Person_died_at_Place>": [{
        "kind": "resource",
        "queryPattern": "{
            ?subject crmdig:L54_is_same-as/gndo:placeOfDeath ?__value__ .
        }"
    }],
    "<https://platform.swissartresearch.net/search/Person_died_at_Time>": [{
        "kind": "date-range",
        "queryPattern": "{
            ?subject crm:P100i_died_in/crm:P4_has_time-span/crm:P82_at_some_time_within ?date .
            FILTER(STRDT(STR(?date), xsd:date) <= ?__dateEndValue__) .
            FILTER(STRDT(STR(?date), xsd:date) >= ?__dateBeginValue__) .
        }"
    }]
}