<h2>Was ist JILA?</h2>

<p>Das Johannes Itten Linked Archive ist eine Linked-Open-Data-Applikation
für historisch und kulturwissenschaftlich Forschende. Sie ermöglicht die
zielgerichtete und stöbernde Suche nach Quellen im Itten-Archiv der
Zentralbibliothek, dem schriftlichen Nachlass des Bauhaus-Meisters und
Schweizer Kunsttheoretikers Johannes Itten (1888-1967). </p>

<p>Der Fokus liegt auf Personendaten und einem Beziehungsnetz aus Personen und Nachlassdokumenten. JILA
    führt archivarische Erschliessungsinformationen aus der Zentralbibliothek mit
    biographischen Informationen aus externen Datenquellen zusammen, wie aus der <span><a
    href="https://www.dnb.de/DE/Professionell/Standardisierung/GND/gnd_node.html">GND</a><span>, <a
    href="https://www.wikidata.org/wiki/Wikidata:Main_Page">Wikidata</a><span>, dem <a
    href="https://www.sik-isea.ch/de-ch/Online-Best%C3%A4nde/Online-Best%C3%A4nde/SIKART-Lexikon">SIKART
    Lexikon</a> und dem Itten-Werkverzeichnis. Auf diese
    Weise werden neue Suchabfragen und Visualisierungen sowie die Einbindung von
    Kontextinformationen möglich.</p>
    
    <p>JILA stellt die zugrundeliegenden
    semantischen Daten der Applikation auch über einen SPARQL Endpoint zur
    Verfügung.</p>
    
    <h2>Hinweise zur Benutzung</h2>
    
    <p>Das Johannes Itten Linked Archive ist ein
    zu <a href="https://zbcollections.ch/home/#/">ZBcollections</a>, dem Archivportal der Zentralbibliothek, komplementäres Recherchetool. </p>
    
    <p>Die Suche nach Dokumenten erfolgt in JILA
    ausschliesslich über Personen und Personenmerkmalen. Auf der Seite «Personen»
    können Sie Personen unter einem Namen, einem Geburtsort, einem Todesjahr, einem
    Beruf oder unter anderen Merkmalen finden. Jede in JILA enthaltene Person steht
    in mindestens einer definierten Beziehung zu mindestens einem Dokument des
    Itten-Archivs. Sie kann beispielsweise Verfasserin oder Adressatin sein. Oder
    sie ist in Dokumenten erwähnt oder abgebildet. </p>
    
    <p>Durch Auswahl einer Person gelangen Sie auf
    eine Graphenansicht, die das Netz aus Personen und Dokumenten mit der
    ausgewählten Person im Zentrum visualisiert. Die bestehenden Beziehungen
    zwischen Person und Dokument sowie zwischen zwei Personen werden dort
    präzisiert. Den erweiterbaren Graphen können Sie als Einstiegspunkt für Ihre
    Suche betrachten, bei der Sie auch auf Zufallstreffer stossen können. Auf der
    rechten Seite, neben der Graphenvisualisierung, erhalten Sie eine tabellarische
    Ansicht sowie zusätzliche Informationen.</p>
    
    <p>Eine Besonderheit in JILA ist, dass auch
    namentlich nicht bekannte Personen suchbar sind, wie zum Beispiel die «Schöne
    Bürgerin», von der Itten in seinem Tagebuch der Italien-Reise berichtet und von
    der sogar eine Portraitskizze erhalten ist. Die nicht identifizierten Personen
    können über einen entsprechenden Filter vollständig aufgelistet werden.</p>
    
    <p>Wenn Sie nach Dokumenten und
    Dokumentenmerkmalen suchen möchten, können Sie eine entsprechende Abfrage in <a
    href="https://zbcollections.ch/home/#/content/43a2ab3eb18841db9ec1af3669b74f39">ZBcollections</a>
    stellen. </p>
    
    <p>Sofern es die rechtlichen und
    konservatorischen Bedingungen erlauben, können Sie gemäss den geltenden
    Benutzungsbestimmungen Originale im Handschriften-Lesesaal einsehen oder Reproduktionen
    bestellen. Wenden Sie sich dafür unter Nennung der Signatur des gewünschten
    Dokuments an die <a href="mailto:handschriften@zb.uzh.ch">Handschriftenabteilung</a>.
    Weitere Informationen zur Handschriftenabteilung finden Sie <a
    href="https://www.zb.uzh.ch/de/collections/handschriften-nachlasse-und-archivalien">hier</a>.
    </p>
    
    <h2>Technischer Überblick</h2>
    
    <p>t.b.c.</p>
    
    <h2>Projekt</h2>
    
    <p>JILA wurde im Zeitraum von 2021 bis 2023 im
    Rahmen des Projektes «Itten vernetzt» von der Zentralbibliothek Zürich in
    Zusammenarbeit mit der Swiss Art Research Infrastructure (SARI) der Universität
    Zürich entwickelt. Mit dem Team des digitalen Itten-Werkverzeichnisses um Prof.
    Dr. Christoph Wagner an der Universität Regensburg und Dr. Maria Effinger an
    der Universitätsbibliothek Heidelberg standen wir über die gesamte
    Projektlaufzeit hinweg in engem Austausch.</p>
    
    <h3>ZB-Team</h3>
    
    <p><b>Christine Baur</b></p>
    
    <p>Projektleitung bis Juli 2023</p>
    
    <p><b>Myriam Tabea
    Schmidt-Müller</b></p>
    
    <p>Datenbereitstellung seit März 2023</p>
    
    <p><b>Kiki Lutz</b></p>
    
    <p>Datenbereitstellung bis März 2023</p>
    
    <p><b>Barbara Vogel</b></p>
    
    <p>Datenbereitstellung bis Dezember 2021</p>
    
    <p><b>&nbsp;</b></p>
    
    <p><b>Handschriftenabteilung</b></p>
    
    <p>Dr. Elke Huwiler</p>
    
    <p><b>Bestandserhaltung</b></p>
    
    <p>Kerstin Ebenau</p>
    
    <p>Cornelia Haas</p>
    
    <p><b>Digitale
    Produktion und Plattformen</b></p>
    
    <p>Roger Sutter</p>
    
    <p>&nbsp;</p>
    
    <h3>SARI-Team</h3>

    <p><b>Thomas Hänsli</b></p>
    
    <p>Projektleitung</p>

    <p><b>Florian Kräutli</b></p>
    
    <p>Technische Leitung</p>

    <p><b>Olya Nicolaeva</b></p>
    
    <p>Softwarentwicklung</p>

    <p><b>André Ghattas</b></p>
    
    <p>Data Engineering</p>

    <p><b>Andrea Notroff</b></p>
    
    <p>Projektentwicklung</p>
    
    <p>&nbsp;</p>
    
    <h2>Datenschutz</h2>
    
    <p>Auf der JILA-Website werden nur technisch
    notwendige Cookies verwendet. Es werden keine Nutzendendaten gesammelt und
    keine Third-Party-Services genutzt.</p>
    
    <p>&nbsp;</p>
    
    <h2>Rechtliche Nutzungsbedingungen für Digitalisate</h2>
    
    <p>Digitalisate von Dokumenten mit Urheber
    Johannes Itten wurden mit Einverständnis der Rechteinhaber unter der Lizenz
    CC-BY-NC-SA 4.0 veröffentlicht. Weitere Informationen zu den damit verbundenen
    Nutzungsrechten erhalten Sie unter <a
    href="https://creativecommons.org/licenses/by-nc-sa/4.0/">https://creativecommons.org/licenses/by-nc-sa/4.0/</a><span>.</p>
    
    <p>Digitalisate von Dokumenten anderer Urheber
    befinden sich in der Public Domain. Weitere Informationen erhalten Sie unter <span><a
    href="https://creativecommons.org/share-your-work/public-domain/pdm">https://creativecommons.org/share-your-work/public-domain/pdm</a><span>.</p>
    
    <p>Die Lizenz wird jeweils unter dem Reiter
    «Details» bei einer Dokumentenansicht angegeben.</p>
    
    <h2>Rechtliche Nutzungsbedingungen für Metadaten</h2>
    
    <p>Die auf dieser Website verfügbaren
    Metadaten befinden sich in der Public Domain. Weitere Informationen erhalten
    Sie unter <a
    href="https://creativecommons.org/share-your-work/public-domain/pdm">https://creativecommons.org/share-your-work/public-domain/pdm</a><span>.</p>
    
    <h2>Impressum</h2>
    
    <h3>Herausgeberin</h3>
    
    <p>Zentralbibliothek
    Zürich</p>
    
    <p>Zähringerplatz 6<br>
    8001 Zürich</p>
    
    <p>Tel:&nbsp;<a
    href="tel:+41%2044%20268%2031%2000">+41 44 268 31
    00</a></p>
    
    <p><a href="mailto:zb@zb.uzh.ch">zb@zb.uzh.ch</a></p>
    
    <p>Verantwortlich für den
    Inhalt: Zentralbibliothek Zürich, Handschriftenabteilung </p>
    
    <h3>Technische Realisierung</h3>
    
    <p>Swiss Art Research Infrastructure (SARI),
    Universität Zürich</p>
    
    <p>Culmannstrasse 1<br/>
    8006 Zürich
    </p>

    <p><a href="mailto:info@swissartresearch.net">info@swissartresearch.net</a></p>
    <p><a href="https://www.sari.uzh.ch/">www.sari.uzh.ch</a></p>
     

