[
    {
        "id" : "display_part_count",

            "label": "Bemerkungen zum Umfang",
            "xsdDatatype" : "xsd:string",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P57_has_number_of_parts ?value . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/display_part_count"
    },

    {
        "id" : "display_path",

            "label": "Pfad Bestand",
            "xsdDatatype" : "xsd:string",
                "selectPattern" : "SELECT (GROUP_CONCAT(?sub; SEPARATOR=\" / \") as ?value) WHERE { { SELECT ?sub (count(?mid) as ?distance) { $subject crm:P46i_forms_part_of* ?mid . ?mid crm:P46i_forms_part_of+/rdfs:label ?sub . } GROUP BY ?sub ORDER BY DESC(?distance) } }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/display_path"
    },

    {
        "id" : "display_production_date",

            "label": "Entstehungszeitraum",
            "xsdDatatype" : "xsd:string",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P108i_was_produced_by/crm:P4_has_time-span ?production_date . ?production_date rdfs:label ?date_label . OPTIONAL { ?production_date crm:P82a_begin_of_the_begin ?begin . } OPTIONAL { ?production_date crm:P82b_end_of_the_end ?end . } BIND(IF(BOUND(?begin) || BOUND(?end), CONCAT(?date_label, \" (\", STR(?begin), \" - \", STR(?end), \")\"), ?date_label) AS ?value) }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/display_production_date"
    },

    {
        "id" : "display_production_date_remarks",

            "label": "Bemerkungen zur Datierung",
            "xsdDatatype" : "xsd:string",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P108i_was_produced_by ?production . ?production crm:P4_has_time-span ?production_date . ?attribute_assignment crm:P141_assigned ?production_date ; crm:P140_assigned_attribute_to ?production ; crm:P3_has_note ?value . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/display_production_date_remarks"
    },

    {
        "id" : "label",

            "label": "Label",
            "description" : "A human-readable label for the entity",
            "xsdDatatype" : "xsd:langString",
                "insertPattern" : "INSERT { $subject rdfs:label $value . } WHERE {}",
                "selectPattern" : "SELECT ?value WHERE { $subject rdfs:label ?value . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/label"
    }

]