[[#*inline "thisIri"]][[#if entityiri]][[entityiri]][[else]][[urlParam "entityiri"]][[/if]][[/inline]]

[[#*inline "thisForQuery"]]
    <[[> thisIri]]>
[[/inline]]

[[> partial:pageHeader ]]
[[> partial:contentHeader]]

<bs-row>
    <bs-col md="7" sm="12">
        [[#if entityiri]]
            [[> component-relations-sigma entityiri=entityiri]]
        [[else]]
            [[> component-relations-sigma entityiri=(urlParam "entityiri")]]
        [[/if]]
    </bs-col>

    <bs-col md="5" sm="12">
        [[> component-entity-panel]]
    </bs-col>
</bs-row>

[[#*inline "component-relations-sigma"]]
    <semantic-sigma-graph
    id="sigma-graph"
    width="100%"
    grouping='{
        "behaviour": "expand",
        "enabled": true,
        "threshold": 5
    }'
    search-box="true"
    sizes='{"nodes": 10, "edges": 2}'
    colours='{
        "[[resolvePrefix "search:Person"]]": "#ff0000",
        "[[resolvePrefix "search:Actor"]]": "#ff0000",
        "[[resolvePrefix "search:Place"]]": "#00ff00",
        "[[resolvePrefix "search:Collection"]]": "#0000ff",
        "[[resolvePrefix "search:Event"]]": "#ffff00"
    }'
    node-query='CONSTRUCT {
        ?subject ?predicate ?object .
        ?subject a ?typeSubject .
        ?object a ?typeObject .
    } WHERE {
        GRAPH <https://resource.swissartresearch.net/graph/network> {
          ?subject ?predicate ?object .
        }
        ?subject a ?typeSubject .
        ?object a ?typeObject .
        VALUES (?typeSubject) {
          (search:Person)
          (search:Actor)
          (search:Place)
          (search:Collection)
          (search:Event)
        }
        VALUES (?typeObject) {
          (search:Person)
          (search:Actor)
          (search:Place)
          (search:Collection)
          (search:Event)
        }
    }'
    query='
        CONSTRUCT {
        ?subject ?predicate ?object .
        ?subject a ?typeSubject .
        ?object a ?typeObject .
        } WHERE {
            BIND(<[[entityiri]]> AS ?subject)
            GRAPH <https://resource.swissartresearch.net/graph/network> {
                ?subject ?predicate ?object .
            }
            ?subject a ?typeSubject .
            ?object a ?typeObject .
            VALUES (?typeSubject) {
            (search:Person)
            (search:Actor)
            (search:Place)
            (search:Collection)
            (search:Event)
            }
            VALUES (?typeObject) {
            (search:Person)
            (search:Actor)
            (search:Place)
            (search:Collection)
            (search:Event)
            }
        }
    '
    ></semantic-sigma-graph>
[[/inline]]

[[#*inline "component-entity-panel"]]

<mp-event-proxy 
    id='node-refresh' 
    on-event-type='Sigma.NodeClicked'
    proxy-event-type='Component.TemplateUpdate' 
    proxy-targets='["target-template"]'
></mp-event-proxy>

<mp-event-target-template-render
  id="target-template"
  template="{{> template}}"
>
  <template id="template">
    {{#if nodes}}
        {{#if nodes.[1] }}
            <h2>Select</h2>
            <ol>
            {{#each nodes}}
                <li>
                    <mp-event-trigger 
                        id='node-refresh-{{this}}'
                        type="Component.TemplateUpdate"
                        targets='["target-template"]'
                        data='{"nodes": ["{{this}}"]}'
                    >

                        <a href="#"><mp-label iri="{{this}}"></mp-label></a>
                    </mp-event-trigger>
                </li>
            {{/each}}
            </ol>
        {{else}}
            {{> partial:entityDetails entityiri=nodes.[0]}}
        {{/if}}
    {{else}}
        [[#if entityiri]]
            {{> partial:entityDetails entityiri='[[entityiri]]'}}
        [[else]]
            {{> partial:entityDetails entityiri='[[urlParam "entityiri"]]'}}
        [[/if]]
    {{/if}}
  </template>
</mp-event-target-template-render>
[[/inline]]
[[> partial:contentFooter]]
[[> partial:pageFooter]]