[[#*inline "thisIri"]][[#if entityiri]][[entityiri]][[else]][[urlParam "entityiri"]][[/if]][[/inline]]

[[#*inline "thisForQuery"]]
    <[[> thisIri]]>
[[/inline]]

[[> component-relations-table entityiri=entityiri]]
[[> component-relations-sigma entityiri=entityiri]]

[[#*inline "component-relations-table"]]
  <semantic-table
    query="SELECT 
        (GROUP_CONCAT(DISTINCT ?subject;SEPARATOR=';') as ?subjects) 
        (COUNT(DISTINCT ?subject) as ?num_subjects) 
        ?predicate 
        (GROUP_CONCAT(DISTINCT ?object;SEPARATOR=';') as ?objects) 
        (COUNT(DISTINCT ?object) as ?num_objects) 
      WHERE {
        BIND(<[[entityiri]]> AS ?subject)
        GRAPH <https://resource.swissartresearch.net/graph/network> {
          ?subject a ?typeSubject .
          ?subject ?predicate ?object .
          ?object a ?typeObject .
        }
      } 
      GROUP BY ?predicate
    "
    column-configuration='[
      {
        "displayName": "Subject",
        "variableName": "subject",
        "cellTemplate": "{{> template-split-entities entities=subjects numEntities=num_subjects.value}}"
      },
      {
        "displayName": "Predicate",
        "variableName": "predicate"
      },
      {
        "displayName": "Object",
        "variableName": "objects",
        "cellTemplate": "{{> template-split-entities entities=objects numEntities=num_objects.value}}"
      }
    ]'  
  >
      <template id="template-split-entities">
        {{#ifCond numEntities ">" 3}}
          <details>
            <summary>
              <semantic-query
                query="SELECT DISTINCT ?type WHERE {
                  ?entity a ?type .
                  ?type rdfs:subClassOf* crm:E1_CRM_Entity .
                  VALUES (?entity) {
                    {{#each (split entities.value ';') }}
                      (<{{this}}>)
                    {{/each}}
                  }
                }"
                template="{{> template-types}}"
              >
                <template id="template-types">
                  <div>{{#each bindings}}<mp-label iri="{{type.value}}"></mp-label>{{#if @last}}{{else}}, {{/if}}{{/each}} ({{numEntities}})</div>
                </template>
              </semantic-query> 
            </summary>
            <ul>
              {{#each (split entities.value ";")}}
                <li>{{> template-entity-tag}}</li>
              {{/each}}
            </ul>
          </details>
        {{else}}
          {{#each (split entities.value ";")}}
            {{> template-entity-tag}}{{#if @last}}{{else}}, {{/if}}
          {{/each}}
        {{/ifCond}}
      </template>
      <template id="template-entity-tag">
        <semantic-link iri="{{this}}"><mp-label iri="{{this}}"></mp-label></semantic-link>
        <semantic-query
          query="SELECT ?type WHERE {
            BIND(<{{this}}> AS ?entity)
            ?entity a ?type .
            VALUES(?type) {
              (search:Actor)
              (search:Event)
              (search:Person)
              (search:Place)
            }
          } LIMIT 1"
          template="{{> template-type-label type=bindings.0.type.value}}">
            <template id="template-type-label">
              &nbsp;(<mp-label iri="{{type}}"></mp-label>)
            </template>
          </semantic-query>
      </template>
  </semantic-table>
[[/inline]]

[[#*inline "component-relations-sigma"]]
  <div style="height: 500px">
      <semantic-sigma-graph
        group-nodes="true"
        sizes='{"nodes": 10, "edges": 2}'
        colours='{
          "[[resolvePrefix "search:Person"]]": "#ff0000",
          "[[resolvePrefix "search:Actor"]]": "#ff0000",
          "[[resolvePrefix "search:Place"]]": "#00ff00",
          "[[resolvePrefix "search:Collection"]]": "#0000ff",
          "[[resolvePrefix "search:Event"]]": "#ffff00"
        }'
        query='
          CONSTRUCT {
            ?subject ?predicate ?object .
            ?subject a ?typeSubject .
            ?object a ?typeObject .
          } WHERE {
            BIND(<[[entityiri]]> AS ?subject)
            GRAPH <https://resource.swissartresearch.net/graph/network> {
              ?subject a ?typeSubject .
              ?subject ?predicate ?object .
              ?object a ?typeObject .
            }
          }
        '
      ></semantic-sigma-graph>
    </div>
[[/inline]]