[[> partial:langLabels]]

{
    "categories": [
        { "iri": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>", "label": "Place", "thumbnail": "../images/fcs/places.svg" },
        { "iri": "<https://platform.swissartresearch.net/search/Person>", "label": "Person", "thumbnail": "../images/fcs/actors.svg"},
        { "iri": "<http://www.cidoc-crm.org/cidoc-crm/E52_Time-Span>", "label": "Time", "thumbnail": "../images/fcs/dates.svg" },
        { "iri": "<http://www.cidoc-crm.org/cidoc-crm/E55_Type>", "label": "Type", "thumbnail": "../images/fcs/concepts.svg" }
    ],
    "relations": [
        {
            "iri": "<https://platform.swissartresearch.net/search/Person_active_at_Place>",
            "hasDomain": "<https://platform.swissartresearch.net/search/Person>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>",
            "label": "[[> label_person_active]]"
        },
        {
            "iri": "<https://platform.swissartresearch.net/search/Person_appears_as_Type>",
            "hasDomain": "<https://platform.swissartresearch.net/search/Person>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E55_Type>",
            "label": "[[> label_person_role]]"
        },
        {
            "iri": "<https://platform.swissartresearch.net/search/Person_born_at_Place>",
            "hasDomain": "<https://platform.swissartresearch.net/search/Person>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>",
            "label": "[[> label_person_born]]"
        },
        {
            "iri": "<https://platform.swissartresearch.net/search/Person_born_at_Time>",
            "hasDomain": "<https://platform.swissartresearch.net/search/Person>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E52_Time-Span>",
            "label": "[[> label_person_born]]"
        },
        {
            "iri": "<https://platform.swissartresearch.net/search/Person_died_at_Place>",
            "hasDomain": "<https://platform.swissartresearch.net/search/Person>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>",
            "label": "[[> label_person_died]]"
        },
        {
            "iri": "<https://platform.swissartresearch.net/search/Person_died_at_Time>",
            "hasDomain": "<https://platform.swissartresearch.net/search/Person>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E52_Time-Span>",
            "label": "[[> label_person_died]]"
        }
    ]
}