[[#*inline "thisIri"]][[#if entityiri]][[entityiri]][[else]][[urlParam "entityiri"]][[/if]][[/inline]]

[[#*inline "thisForQuery"]]
    <[[> thisIri]]>
[[/inline]]

[[> component-relations-table entityiri=entityiri]]

[[> component-relations-ontodia entityiri=entityiri]]


[[#*inline "component-relations-table"]]
  <semantic-table
    query="SELECT 
        (GROUP_CONCAT(DISTINCT ?subject;SEPARATOR=';') as ?subjects) 
        (COUNT(DISTINCT ?subject) as ?num_subjects) 
        ?predicate 
        (GROUP_CONCAT(DISTINCT ?object;SEPARATOR=';') as ?objects) 
        (COUNT(DISTINCT ?object) as ?num_objects) 
      WHERE {
        BIND(<[[entityiri]]> AS ?entity)
        {
          [[> relation-creators-of-entity]]
        } UNION {
          [[> relation-documents-created-by-entity]]
        } UNION {
          [[> relation-documents-referring-to-entity]]
        } UNION {
          [[> relation-entities-referred-to-by-entity]]
        } UNION {
          [[> relation-familial-via-gnd]]
        }
      } 
      GROUP BY ?predicate
    "
    column-configuration='[
      {
        "displayName": "Subject",
        "variableName": "subject",
        "cellTemplate": "{{> template-split-entities entities=subjects numEntities=num_subjects.value}}"
      },
      {
        "displayName": "Predicate",
        "variableName": "predicate"
      },
      {
        "displayName": "Object",
        "variableName": "objects",
        "cellTemplate": "{{> template-split-entities entities=objects numEntities=num_objects.value}}"
      }
    ]'  
  >
      <template id="template-split-entities">
        {{#ifCond numEntities ">" 3}}
          <details>
            <summary>{{numEntities}} entries&hellip;</summary>
            <ul>
              {{#each (split entities.value ";")}}
                <li><semantic-link uri="{{this}}"></semantic-link></li>
              {{/each}}
            </ul>
          </details>
        {{else}}
          {{#each (split entities.value ";")}}
            <semantic-link uri="{{this}}"></semantic-link>{{#if @last}}{{else}}, {{/if}}
          {{/each}}
        {{/ifCond}}
      </template>"
  </semantic-table>
[[/inline]]

[[#*inline "component-relations-ontodia"]]
  <div style="height: 500px">
      <ontodia
        readonly="true"
        settings="nostats"
        hide-panels="true"
        hide-toolbar="true"
        hide-navigator="true"
        query='
          CONSTRUCT {
            ?subject ?predicate ?object
          } WHERE {
            BIND(<[[entityiri]]> AS ?entity)
            {
              [[> relation-creators-of-entity]]
            } UNION {
              [[> relation-documents-created-by-entity]]
            } UNION {
              [[> relation-documents-referring-to-entity]]
            } UNION {
              [[> relation-entities-referred-to-by-entity]]
            } UNION {
              [[> relation-familial-via-gnd]]
            }
          }
        '
      ></ontodia>
    </div>
[[/inline]]

[[#*inline "relation-creators-of-entity"]]
  ?entity a search:Collection ;
    crm:P108i_was_produced_by/crm:P9_consists_of ?event .
    ?event crm:P2_has_type ?predicate ;
    crm:P14_carried_out_by ?object .
    BIND(?entity as ?subject)
[[/inline]]

[[#*inline "relation-documents-created-by-entity"]]
  ?subject a search:Collection ;
    crm:P108i_was_produced_by/crm:P9_consists_of ?event .
    ?event crm:P2_has_type ?predicate;
      crm:P14_carried_out_by ?entity .
    BIND(?entity as ?object)
[[/inline]]

[[#*inline "relation-documents-referring-to-entity"]]
  ?subject a search:Collection ;
      crm:P128_carries/crm:P67_refers_to ?entity .
  BIND(crm:P67_refers_to as ?predicate)
  BIND(?entity as ?object)
[[/inline]]

[[#*inline "relation-entities-referred-to-by-entity"]]
  ?entity a search:Collection ;
    crm:P128_carries/crm:P67_refers_to ?object .
  BIND(crm:P67_refers_to as ?predicate)
  BIND(?entity as ?subject)
[[/inline]]

[[#*inline "relation-familial-via-gnd"]]
  {
    ?entity crmdig:L54_is_same-as/gndo:familialRelationship/^crmdig:L54_is_same-as? ?object .
    BIND(gndo:familialRelationship as ?predicate)
    BIND(?entity as ?subject)
  } UNION {
    ?object crmdig:L54_is_same-as/gndo:familialRelationship/^crmdig:L54_is_same-as? ?entity .
    BIND(gndo:familialRelationship as ?predicate)
    BIND(?entity as ?subject)
  }
[[/inline]]