
[[> component-citation-default]]

[[#*inline "component-citation-default"]]
    <div class="bso-component citation">

        <semantic-query
            query="SELECT
                    ?publication_year
                    ?document_date
                    ?ownerLabel
                    ?placeLabel
                    ?link
                    ?subjectLabel
                    (GROUP_CONCAT(DISTINCT ?authorLabel; separator=' & ') as ?authorLabel)            
                WHERE {
                BIND(<{{entityiri}}> as ?subject)
                OPTIONAL {
                    ?subject rdfs:label ?entityLabel .
                }
                BIND(STR(?subject) as ?link)
                BIND(REPLACE(STR(?subject), CONCAT(REPLACE( STR(?subject) , '\\/[^/]*$', '' ),'/'), '') AS ?identifier )
                BIND(IF(BOUND(?entityLabel), ?entityLabel, ?identifier) as ?subjectLabel)
                BIND(<https://d-nb.info/gnd/1012546-2> as ?owner)
                BIND('Zentralbibliothek Zürich' as ?ownerLabel)
                BIND('Zürich' as ?placeLabel)
                OPTIONAL {
                    ?subject a crm:E78_Curated_Holding .
                    OPTIONAL {
                        ?subject crm:P108i_was_produced_by/crm:P9_consists_of/crm:P14_carried_out_by/rdfs:label ?authorLabel .
                    }
                }
                OPTIONAL {
                    ?subject crm:P108i_was_produced_by/crm:P4_has_time-span/rdfs:label ?document_date .
                }
                BIND('[[currentDateTime format='YYYY']]' as ?publication_year)
            } 
            GROUP BY 
                ?publication_year
                ?document_date
                ?ownerLabel
                ?placeLabel
                ?link
                ?subjectLabel
            LIMIT 1"
            template="{{> citationTemplate}}">

            <template id="citationTemplate">
                {{> citationHTML author=bindings.0.authorLabel.value documentDate=bindings.0.document_date.value publicationDate=bindings.0.publication_year.value  owner=bindings.0.ownerLabel.value place=bindings.0.placeLabel.value link=bindings.0.link.value}}
                <mp-copy-to-clipboard 
                    text="{{#if bindings.0.authorLabel.value}}{{bindings.0.authorLabel.value}}: {{/if}}{{bindings.0.subjectLabel.value}}. {{#if bindings.0.publication_year.value}}{{bindings.0.publication_year.value}}. {{/if}}In JILA: Johannes Itten Linked Archive {{bindings.0.publication_year.value}}. {{bindings.0.placeLabel.value}}: {{bindings.0.ownerLabel.value}}. Available at: {{bindings.0.link.value}}. Accessed [[currentDateTime format='dd.MM.YYYY']]."
                    message="Citation copied to clipboard"
                >
                    <button class="btn btn-secondary"><i class="fa fa-copy"></i></button>
                  </mp-copy-to-clipboard>&nbsp;
                <a download='{{bindings.0.identifier.value}}.bib' href='data:text/plain;utf8,@misc{ {{bindings.0.identifier.value}}, title = { {{bindings.0.subjectLabel.value}} }, url = { {{bindings.0.link.value}} }, publisher = { {{#if bindings.0.ownerLabel.value}}{{bindings.0.ownerLabel.value}}{{else}}JILA{{/if}} }, author = { {{bindings.0.authorLabel.value}} }, year = { {{#if bindings.0.document_date.value}}{{bindings.0.document_date.value}}{{else}}{{bindings.0.publication_year.value }}{{/if}} }}'>
                    <button class="btn btn-secondary"><i class="fa fa-download"></i></button>
                </a>
            </template>

            <template id="citationHTML">
                {{#if author}}{{author}}: {{/if}} <mp-label iri='{{entityiri}}'></mp-label>. {{#if documentDate}}{{documentDate}}. {{/if}} In <em>JILA: Johannes Itten Linked Archive</em> {{publicationDate}}. {{place}}: {{owner}}. Available at: <a href="{{link}}">{{link}}</a>. Accessed [[currentDateTime format='dd.MM.YYYY']].
            </template>

        </semantic-query>
    </div>
[[/inline]]


