[[#*inline "thisIri"]][[entityiri]][[/inline]]

[[#*inline "thisForQuery"]]
    <[[> thisIri]]>
[[/inline]]

[[> partial:pageHeader ]]

[[> component-events-controller]]

<div class="container-fluid">
    <div class="jila-component entity-view-container">
        <bs-row>
            <bs-col md="7" sm="12" class-name="graph-view-container">
                <div class="jila-component graph-view">
                    [[> component-relations-sigma entityiri=entityiri]]
                </div>
            </bs-col>
            
            <bs-col md="5" sm="12" class-name="panel-view-container">
                <div class="jila-component panel-view">
                    [[> component-entity-panel]]
                </div>
            </bs-col>
        </bs-row>
    </div>
</div>

[[> partial:pageFooter]]

[[#*inline "component-events-controller"]]

    <mp-event-proxy 
        on-event-type='Sigma.NodeClicked'
        proxy-event-type='Component.TemplateUpdate' 
        proxy-targets='["entity-view-panel"]'
    ></mp-event-proxy>

    <mp-event-proxy
        on-event-type='JILA.PanelNodeClicked'
        proxy-event-type='Component.TemplateUpdate'
        proxy-targets='["entity-view-panel"]'
    ></mp-event-proxy>

    <mp-event-proxy
        on-event-type='JILA.PanelNodeClicked'
        proxy-event-type='Sigma.TriggerNodeClicked'
        proxy-targets='["entity-view-graph"]'
    ></mp-event-proxy>

    <mp-event-proxy 
        on-event-type='Sigma.NodeClicked'
        proxy-event-type='Component.TemplateUpdate' 
        proxy-targets='["event-monitor"]'
    ></mp-event-proxy>

    <mp-event-proxy 
        on-event-type='JILA.PanelNodeClicked'
        proxy-event-type='Component.TemplateUpdate' 
        proxy-targets='["event-monitor"]'
    ></mp-event-proxy>
<!-- 
    <mp-event-target-template-render
        id="event-monitor"
        template="{{> template}}"
    >
        <template id="template">
            <ul>
                <li>Nodes: {{nodes}}</li>
                <li>Node: {{node}}</li>
            </ul>
        </template>
    </mp-event-target-template-render> -->

[[/inline]]

[[#*inline "component-relations-sigma"]]
    <semantic-sigma-graph
        id="entity-view-graph"
        height="100%"
        width="100%"
        grouping='{
            "behaviour": "none",
            "enabled": true,
            "threshold": 5
        }'
        search-box="true"
        sizes='{"nodes": 10, "edges": 2}'
        colours='{
                "[[resolvePrefix "search:Person"]]": "#FF4C4C",
                "[[resolvePrefix "crm:E21_Person"]]": "#FF4C4C",
                "[[resolvePrefix "search:Actor"]]": "#FF4C4C",
                "[[resolvePrefix "search:Place"]]": "#00CC66",
                "[[resolvePrefix "search:Collection"]]": "#A64AC9",
                "[[resolvePrefix "search:Event"]]": "#FF9900"
            }'
        node-query='CONSTRUCT {
            ?subject ?predicate ?object .
            ?subject a ?typeSubject .
            ?object a ?typeObject .
        } WHERE {
            GRAPH <https://resource.swissartresearch.net/graph/network> {
            ?subject ?predicate ?object .
            }
            ?subject a ?typeSubject .
            ?object a ?typeObject .
            VALUES (?typeSubject) {
                [[> query-partial-entity-types]]
            }
            VALUES (?typeObject) {
                [[> query-partial-entity-types]]
            }
        }'
        query='
            CONSTRUCT {
            ?subject ?predicate ?object .
            ?subject a ?typeSubject .
            ?object a ?typeObject .
            } WHERE {
                BIND(<[[entityiri]]> AS ?subject)
                GRAPH <https://resource.swissartresearch.net/graph/network> {
                    ?subject ?predicate ?object .
                }
                ?subject a ?typeSubject .
                ?object a ?typeObject .
                VALUES (?typeSubject) {
                    [[> query-partial-entity-types]]
                }
                VALUES (?typeObject) {
                    [[> query-partial-entity-types]]
                }
            }'
    ></semantic-sigma-graph>
[[/inline]]

[[#*inline "component-entity-panel"]]

    <mp-event-target-template-render
        id="entity-view-panel"
        template="{{> template}}"
    >
        <template id="template">
                <div>
                {{#if nodes}}
                    {{#if nodes.[1] }}
                        <h2>Select</h2>
                        <!-- TODO: use a semantic-table with values injected so we can use filtering and other stuff maybe -->
                        <div class="jila-component card-container">
                            <semantic-table 
                                id='grid-result'
                                query='SELECT?subject ?label WHERE {
                                    ?subject rdfs:label ?label
                                    VALUES (?subject) {
                                        {{#each nodes}}
                                            (<{{this}}>)
                                        {{/each}}
                                    }
                                } ORDER BY ?label'
                                number-of-displayed-rows="10"
                                options='{
                                    "sorting": {"label": "asc"}
                                }'
                                tuple-template='{{> event-card-template}}'
                            >
                                <template id="event-card-template">
                                    <mp-event-trigger 
                                        id='node-highlight-{{subject.value}}'
                                        type="JILA.PanelNodeClicked"
                                        data='{"node": "{{subject.value}}"}'
                                    >
                                    <a href="#" class="jila-component card">{{> partial:entityCard subject=subject.value onlybody=true}}</a>
                                    </mp-event-trigger
                                </template>    
                            </semantic-table>
                        </div>
                    {{else}}
                        {{> partial:entityDetails entityiri=nodes.[0]}}
                    {{/if}}
                {{else}}
                    {{#if node}}
                        {{> partial:entityDetails entityiri=node }}
                    {{else}}
                        {{> partial:entityDetails entityiri='[[entityiri]]' }}
                    {{/if}}
                {{/if}}
                </div>
        </template>
    </mp-event-target-template-render>
[[/inline]]

[[#*inline "query-partial-entity-types"]]
    (search:Person)
    (search:Actor)
    (search:Place)
    (search:Collection)
    (search:Event)
    (crm:E21_Person)
    (crm:E53_Place)
[[/inline]]
