{
    "categories": [
        { "iri": "<http://www.cidoc-crm.org/cidoc-crm/E1_CRM_Entity>", "label": "Entity", "thumbnail": "../images/fcs/things.svg" },
        { "iri": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>", "label": "Place", "thumbnail": "../images/fcs/places.svg" },
        { "iri": "<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>", "label": "Person", "thumbnail": "../images/fcs/actors.svg"},
        { "iri": "<http://www.cidoc-crm.org/cidoc-crm/E52_Time-Span>", "label": "Time", "thumbnail": "../images/fcs/dates.svg" },
        { "iri": "<http://www.cidoc-crm.org/cidoc-crm/E55_Type>", "label": "Type", "thumbnail": "../images/fcs/concepts.svg" },
        { "iri": "<http://www.w3.org/2001/XMLSchema#Decimal>", "label": "Number", "thumbnail": "../images/fcs/things.svg" },
        { "iri": "<http://www.w3.org/2001/XMLSchema#String>", "label": "String", "thumbnail": "../images/fcs/concepts.svg" }
    ],
    "relations": [
        {
            "iri": "<https://platform.swissartresearch.net/search/Person_active_at_Place>",
            "hasDomain": "<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>",
            "label": "<i18n>label_person_active</i18n>"
        },
        {
            "iri": "<https://platform.swissartresearch.net/search/Person_appears_as_Type>",
            "hasDomain": "<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E55_Type>",
            "label": "<i18n>label_person_role</i18n>"
        },
        {
            "iri": "<https://platform.swissartresearch.net/search/Person_born_at_Place>",
            "hasDomain": "<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>",
            "label": "<i18n>label_person_born</i18n>"
        },
        {
            "iri": "<https://platform.swissartresearch.net/search/Person_born_at_Time>",
            "hasDomain": "<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E52_Time-Span>",
            "label": "<i18n>label_person_born</i18n>"
        },
        {
            "iri": "<https://platform.swissartresearch.net/search/Person_died_at_Place>",
            "hasDomain": "<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>",
            "label": "<i18n>label_person_died</i18n>"
        },
        {
            "iri": "<https://platform.swissartresearch.net/search/Person_died_at_Time>",
            "hasDomain": "<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E52_Time-Span>",
            "label": "<i18n>label_person_died</i18n>"
        },
        {
            "iri": "<https://platform.swissartresearch.net/search/Person_has_count>",
            "hasDomain": "<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "hasRange": "<http://www.w3.org/2001/XMLSchema#String>",
            "label": "<i18n>label_person_count</i18n>"
        },
        {
            "iri": "<https://platform.swissartresearch.net/search/Person_has_gender>",
            "hasDomain": "<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E55_Type>",
            "label": "<i18n>label_person_has_gender</i18n>"
        },
        {
            "iri": "<https://platform.swissartresearch.net/search/Person_has_occupation>",
            "hasDomain": "<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E55_Type>",
            "label": "<i18n>label_person_has_occupation</i18n>"
        },
        {
            "iri": "<https://platform.swissartresearch.net/search/Person_has_number_of_appearances>",
            "hasDomain": "<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "hasRange": "<http://www.w3.org/2001/XMLSchema#Decimal>",
            "label": "<i18n>label_person_num_appearances</i18n>"
        },
        {
            "iri": "<https://platform.swissartresearch.net/search/Person_has_relation_with_Person>",
            "hasDomain": "<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "label": "<i18n>label_person_has_relation_with_person</i18n>"
        },
        {
            "iri": "<https://platform.swissartresearch.net/search/Person_has_relation_with_Place>",
            "hasDomain": "<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>",
            "label": "<i18n>label_person_has_relation_with_place</i18n>"
        }
    ]
}