{
    "<https://platform.jila.zb.uzh.ch/search/Person_active_at_Place>": [{
        "kind": "resource",
        "queryPattern": "{
            ?subject crmdig:L54_is_same-as/gndo:placeOfActivity ?__value__ .
        }"
    }],
    "<https://platform.jila.zb.uzh.ch/search/Person_appears_as_Type>": [{
        "kind": "resource",
        "queryPattern": "{
            {
                ?event crm:P14_carried_out_by|crm:P11_had_participant ?subject ;
                    crm:P2_has_type ?v .
                ?__value__ owl:inverseOf ?v.
            } UNION {
                ?subject ?__value__ ?document .
                FILTER(?__value__ = crm:P62i_is_depicted_by || ?__value__ = crm:P67i_is_referred_to_by)
            }
        }"
    }],
    "<https://platform.jila.zb.uzh.ch/search/Person_born_at_Place>": [{
        "kind": "resource",
        "queryPattern": "{
            ?subject crmdig:L54_is_same-as/gndo:placeOfBirth ?__value__ .
        }"
    }],
    "<https://platform.jila.zb.uzh.ch/search/Person_born_at_Time>": [{
        "kind": "date-range",
        "queryPattern": "{
            ?subject crm:P98i_was_born/crm:P4_has_time-span/crm:P82a_begin_of_the_begin ?date .
            FILTER(STRDT(STR(?date), xsd:date) <= ?__dateEndValue__) .
            FILTER(STRDT(STR(?date), xsd:date) >= ?__dateBeginValue__) .
        }"
    }],
    "<https://platform.jila.zb.uzh.ch/search/Person_died_at_Place>": [{
        "kind": "resource",
        "queryPattern": "{
            ?subject crmdig:L54_is_same-as/gndo:placeOfDeath ?__value__ .
        }"
    }],
    "<https://platform.jila.zb.uzh.ch/search/Person_died_at_Time>": [{
        "kind": "date-range",
        "queryPattern": "{
            ?subject crm:P100i_died_in/crm:P4_has_time-span/crm:P82b_end_of_the_end ?date .
            FILTER(STRDT(STR(?date), xsd:date) <= ?__dateEndValue__) .
            FILTER(STRDT(STR(?date), xsd:date) >= ?__dateBeginValue__) .
        }"
    }],
    "<https://platform.jila.zb.uzh.ch/search/Person_has_associated_digitised_object>": [{
        "kind": "literal",
        "queryPattern": "{
            ?subject a/rdfs:subClassOf* crm:E39_Actor .
            GRAPH <https://resource.jila.zb.uzh.ch/graph/network> {
                ?object ?predicate ?subject .
            }
            OPTIONAL {
                ?object crm:P46_is_composed_of/crm:P138i_has_representation ?image .
            }
            BIND(BOUND(?image) AS ?literal)
            FILTER(?literal = ?__literal__)
        }"
    }],
    "<https://platform.jila.zb.uzh.ch/search/Person_has_been_identified>": [{
        "kind": "literal",
        "queryPattern": "{
            ?subject rdfs:label ?label .
            FILTER(STRSTARTS(STR(?subject), \"https://resource.jila.zb.uzh.ch/\"))
            OPTIONAL {
                ?subject crmdig:L54_is_same-as ?sameas .
            }
            BIND(BOUND(?sameas) AS ?literal)
            FILTER(?literal = ?__literal__)
        }"
    }],
    "<https://platform.jila.zb.uzh.ch/search/Person_has_entry_in_Heidelberg>": [{
        "kind": "literal",
        "queryPattern": "{
            ?subject crmdig:L54_is_same-as ?gndEntity .
            ?gndEntity a gndo:AuthorityResource .
            SERVICE secondary:sparql {
                ?externalEntity owl:sameAs ?gndEntity .
                FILTER(STRSTARTS(STR(?externalEntity), \"http://lod.ub.uni-heidelberg.de\"))
            }
            BIND(BOUND(?externalEntity) AS ?literal)
            FILTER(?literal = ?__literal__)
        }"
    }],
    "<https://platform.jila.zb.uzh.ch/search/Person_has_count>": [{
        "kind": "literal",
        "queryPattern": "{
            ?subject rdf:type ?type.
            VALUES (?type) {
              (search:Group)
              (search:Person)
            }
            BIND(aat:300404433 as ?type_count)
            OPTIONAL {
                ?subject crm:P1_is_identified_by ?identifier .
                ?identifier crm:P2_has_type ?type_count  ;
                    crm:P190_has_symbolic_content ?value_raw .
            }
            BIND(xsd:integer(REPLACE(IF(CONTAINS(?value_raw,\"-\"), STRBEFORE(?value_raw, \"-\"), ?value_raw), \"\\\\D\", \"\")) as ?value_integer)
            BIND(xsd:string(IF(!BOUND(?value_raw),\"1\",
                IF(?value_raw = \">1\", ?value_raw, 
                    IF(?value_integer = 1 , \"1\", 
                        IF(?value_integer <= 10 , \"2-10\", 
                            IF(?value_integer <= 100 , \"11-100\", 
                                IF(?value_integer <= 1000 , \"101-1000\", \">1000\")
                            )
                        )
                    )
                )
            )) AS ?literal)
            VALUES(?literal ?order) {
                (\">1\" 0)
                (\"1\" 1)
                (\"2-10\" 2)
                (\"11-100\" 3)
                (\"101-1000\" 4)
                (\">1000\" 5)
            }
            FILTER(?literal = ?__literal__)
        }"
    }],
    "<https://platform.jila.zb.uzh.ch/search/Person_has_gender>": [{
        "kind": "resource",
        "queryPattern": "{
            ?subject crmdig:L54_is_same-as/gndo:gender ?__value__ .
        }"
    }],
    "<https://platform.jila.zb.uzh.ch/search/Person_has_number_of_appearances>": [{
        "kind": "numeric-range",
        "queryPattern": "{
            {
                SELECT ?subject (COUNT(?predicate) AS ?value) WHERE {
                    GRAPH <https://resource.jila.zb.uzh.ch/graph/network> {
                        ?subject ?predicate ?object .
                    }
                } GROUP BY ?subject
            }
            BIND(IF(?value > 100, 100, ?value) AS ?value_bracketed)
            FILTER(?value_bracketed >= ?__numericRangeBeginValue__) .
            FILTER(?value_bracketed <= ?__numericRangeEndValue__) .
        }"
    }],
    "<https://platform.jila.zb.uzh.ch/search/Person_has_relation_to_number_of_Collections>": [{
        "kind": "numeric-range",
        "queryPattern": "{
            {
                SELECT ?subject (COUNT(DISTINCT ?object) AS ?value) WHERE {
                    GRAPH <https://resource.jila.zb.uzh.ch/graph/network> {
                        ?subject ?predicate ?object .
                    }
                    ?object a crm:E78_Curated_Holding .
                } GROUP BY ?subject
            }
            BIND(IF(?value > 100, 100, ?value) AS ?value_bracketed)
            FILTER(?value_bracketed >= ?__numericRangeBeginValue__) .
            FILTER(?value_bracketed <= ?__numericRangeEndValue__) .
        }"
    }],
    "<https://platform.jila.zb.uzh.ch/search/Person_has_relation_to_number_of_Persons>": [{
        "kind": "numeric-range",
        "queryPattern": "{
            {
                SELECT ?subject (COUNT(DISTINCT ?object) AS ?value) WHERE {
                    GRAPH <https://resource.jila.zb.uzh.ch/graph/network> {
                        ?subject ?predicate ?object .
                    }
                    ?object a/rdfs:subClassOf* crm:E39_Actor .
                } GROUP BY ?subject
            }
            BIND(IF(?value > 100, 100, ?value) AS ?value_bracketed)
            FILTER(?value_bracketed >= ?__numericRangeBeginValue__) .
            FILTER(?value_bracketed <= ?__numericRangeEndValue__) .
        }"
    }],
    "<https://platform.jila.zb.uzh.ch/search/Person_has_occupation>": [{
        "kind": "resource",
        "queryPattern": "{
            ?subject crmdig:L54_is_same-as/gndo:professionOrOccupation ?__value__ .
        }"
    }],
    "<https://platform.jila.zb.uzh.ch/search/Person_has_relation_with_Person>": [{
        "kind": "resource",
        "queryPattern": "{
            BIND(<https://resource.jila.zb.uzh.ch/actor/AF0BA76E-E7EA-367A-AF8A-B3537D730E31> as ?itten)
            GRAPH <https://resource.jila.zb.uzh.ch/graph/network> {
                ?subject ?predicate ?__value__ .
            }
            ?__value__ a/rdfs:subClassOf* crm:E39_Actor .
            FILTER(?__value__ != ?itten)
        }"
    }],
    "<https://platform.jila.zb.uzh.ch/search/Person_has_relation_with_Place>": [{
        "kind": "resource",
        "queryPattern": "{
            {
                GRAPH <https://resource.jila.zb.uzh.ch/graph/network> {
                    ?subject ?predicate ?__value__ .
                }
                ?__value__ a/rdfs:subClassOf* crm:E53_Place .
            } UNION {
                ?subject crmdig:L54_is_same-as/gndo:placeOfActivity ?__value__ .
            }
        }"
    }]
}