<semantic-search
    categories='[[> partial:searchCategories ]]'
    search-profile='[[> partial:searchProfile ]]'
    relations='[[> partial:searchRelations ]]'
>
    <semantic-search-query-constant 
        domain='<https://platform.swissartresearch.net/search/Person>'
        query='SELECT ?subject WHERE { 
            ?subject a search:Person .
        }'
    ></semantic-search-query-constant>
    
    
    <bs-row>
        <bs-col md="4" sm="12">
            <semantic-search-facet
                open-by-default="true"
                facet-values-threshold="1000"
            >
            </semantic-search-facet>
        </bs-col>

        <bs-col md="8" sm="12">
            <semantic-search-result-holder>
                <div data-flex-self="md-full">
                    <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
                    <semantic-search-result id='semantic-search-result'>
                        <mp-sparql-result-counts id='semantic-search-result-count' query="SELECT DISTINCT ?subject {}"
                                                template='{{> template}}'
                        >
                        <template id='template'>
                            <div>
                            <span class="num-results">Found <span class="num-results-color">{{#if hasLimit}}{{totalNumberOfResults}}{{else}}{{numberOfResults}}{{/if}}</span> results</span>
                            </div>
                        </template>
                        </mp-sparql-result-counts>
                    </semantic-search-result>
            
                    <semantic-search-result>
                        <div class="jila-component card-container">
                            <semantic-table 
                                id='grid-result'
                                query='SELECT DISTINCT ?subject WHERE {
                                    ?subject rdfs:label ?label .
                                } ORDER BY ?label'
                                number-of-displayed-rows="50"
                                tuple-template='{{> partial:entityCard subject=subject.value}}'
                            >    
                            </semantic-table>
                        </div>
                    </semantic-search-result>
                </div>
            </semantic-search-result-holder>
        </bs-col>
    </bs-row>
</semantic-search>