[
    {
        "id" : "display_archival_level",

            "label": "Verzeichnungsstufe",
            "xsdDatatype" : "xsd:anyURI",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P2_has_type ?value . ?value crm:P127_has_broader_term aat:300241507 . }",
        "iri" : "https://platform.jila.zb.uzh.ch/instances/fields/display_archival_level"
    },

    {
        "id" : "display_archival_type",

            "label": "Archivalienart",
            "xsdDatatype" : "xsd:anyURI",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P2_has_type ?value . ?value crm:P127_has_broader_term aat:300026031 . }",
        "iri" : "https://platform.jila.zb.uzh.ch/instances/fields/display_archival_type"
    },

    {
        "id" : "display_doi",

            "label": "DOI",
            "xsdDatatype" : "xsd:anyURI",
                "selectPattern" : "SELECT DISTINCT ?value WHERE { $subject crm:P1_is_identified_by ?value . ?value a crm:E42_Identifier ; crm:P2_has_type <https://doi.org> . }",
        "iri" : "https://platform.jila.zb.uzh.ch/instances/fields/display_doi"
    },

    {
        "id" : "display_form_and_content",

            "label": "Form und Inhalt",
            "xsdDatatype" : "xsd:string",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P129i_is_subject_of ?remark . ?remark crm:P2_has_type aat:300435416 ; crm:P190_has_symbolic_content ?value . }",
        "iri" : "https://platform.jila.zb.uzh.ch/instances/fields/display_form_and_content"
    },

    {
        "id" : "display_identifier",

            "label": "Identifikator",
            "xsdDatatype" : "xsd:string",
                "selectPattern" : "SELECT DISTINCT ?value WHERE { $subject crm:P1_is_identified_by ?identifier . ?identifier a crm:E42_Identifier ; crm:P190_has_symbolic_content ?identifierValue . OPTIONAL { ?identifier crm:P2_has_type/rdfs:label ?identifierType . } BIND(IF(BOUND(?identifierType), CONCAT(MIN(?identifierType), \": \", ?identifierValue), ?identifierValue) AS ?value) }",
        "iri" : "https://platform.jila.zb.uzh.ch/instances/fields/display_identifier"
    },

    {
        "id" : "display_language",

            "label": "Sprache",
            "xsdDatatype" : "xsd:anyURI",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P128_carries/crm:P72_has_language ?value . }",
        "iri" : "https://platform.jila.zb.uzh.ch/instances/fields/display_language"
    },

    {
        "id" : "display_part_count",

            "label": "Bemerkungen zum Umfang",
            "xsdDatatype" : "xsd:string",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P57_has_number_of_parts ?value . }",
        "iri" : "https://platform.jila.zb.uzh.ch/instances/fields/display_part_count"
    },

    {
        "id" : "display_path",

            "label": "Pfad Bestand",
            "xsdDatatype" : "xsd:string",
                "selectPattern" : "SELECT (GROUP_CONCAT(?sub; SEPARATOR=\" / \") as ?value) ?dummy WHERE { { SELECT ?sub (count(?mid) as ?distance) { $subject crm:P46i_forms_part_of* ?mid . ?mid crm:P46i_forms_part_of+/rdfs:label ?sub . } GROUP BY ?sub ORDER BY DESC(?distance) } } GROUP BY ?dummy",
        "iri" : "https://platform.jila.zb.uzh.ch/instances/fields/display_path"
    },

    {
        "id" : "display_production_date",

            "label": "Entstehungszeitraum",
            "xsdDatatype" : "xsd:string",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P108i_was_produced_by/crm:P4_has_time-span ?production_date . ?production_date rdfs:label ?date_label . OPTIONAL { ?production_date crm:P82a_begin_of_the_begin ?begin . } OPTIONAL { ?production_date crm:P82b_end_of_the_end ?end . } BIND(IF(BOUND(?begin) || BOUND(?end), CONCAT(?date_label, \" (\", STR(?begin), \" - \", STR(?end), \")\"), ?date_label) AS ?value) }",
        "iri" : "https://platform.jila.zb.uzh.ch/instances/fields/display_production_date"
    },

    {
        "id" : "display_production_date_remarks",

            "label": "Bemerkungen zur Datierung",
            "xsdDatatype" : "xsd:string",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P108i_was_produced_by ?production . ?production crm:P4_has_time-span ?production_date . ?attribute_assignment crm:P141_assigned ?production_date ; crm:P140_assigned_attribute_to ?production ; crm:P3_has_note ?value . }",
        "iri" : "https://platform.jila.zb.uzh.ch/instances/fields/display_production_date_remarks"
    },

    {
        "id" : "display_production_place",

            "label": "Entstehungsort",
            "xsdDatatype" : "xsd:anyURI",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P108i_was_produced_by/crm:P7_took_place_at ?value . }",
        "iri" : "https://platform.jila.zb.uzh.ch/instances/fields/display_production_place"
    },

    {
        "id" : "display_remarks_general",

            "label": "Allgemeine Anmerkungen",
            "xsdDatatype" : "xsd:string",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P129i_is_subject_of ?remark . ?remark crm:P2_has_type aat:300435415 ; crm:P190_has_symbolic_content ?value . }",
        "iri" : "https://platform.jila.zb.uzh.ch/instances/fields/display_remarks_general"
    },

    {
        "id" : "display_signature",

            "label": "Signatur",
            "xsdDatatype" : "xsd:string",
                "selectPattern" : "SELECT DISTINCT ?value WHERE { $subject crm:P1_is_identified_by ?identifier . ?identifier a crm:E42_Identifier ; crm:P190_has_symbolic_content ?identifierValue ; crm:P2_has_type <https://resource.jila.zb.uzh.ch/type/signatur> . BIND(IF(BOUND(?identifierType), CONCAT(MIN(?identifierType), \": \", ?identifierValue), ?identifierValue) AS ?value) }",
        "iri" : "https://platform.jila.zb.uzh.ch/instances/fields/display_signature"
    },

    {
        "id" : "display_title",

            "label": "Titel",
            "xsdDatatype" : "xsd:string",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P1_is_identified_by ?title . ?title crm:P2_has_type aat:300404670 ; crm:P190_has_symbolic_content ?value . }",
        "iri" : "https://platform.jila.zb.uzh.ch/instances/fields/display_title"
    },

    {
        "id" : "label",

            "label": "Label",
            "description" : "A human-readable label for the entity",
            "xsdDatatype" : "xsd:langString",
                "insertPattern" : "INSERT { $subject rdfs:label $value . } WHERE {}",
                "selectPattern" : "SELECT ?value WHERE { $subject rdfs:label ?value . }",
        "iri" : "https://platform.jila.zb.uzh.ch/instances/fields/label"
    }

]