
<div class="jila-component panel-entity-details">
  <div class="container-fluid">
    <bs-row>
      <bs-col sm="12">
        <h2><mp-label iri="{{entityiri}}"></mp-label>
          {{#if initial}}
          {{else}}
              &nbsp;<a href="/resource/page:viewEntity?entityiri={{entityiri}}"><i title="Fokussieren" class="fa fa-dot-circle-o"></i></a>
          {{/if}}
        </h2>
      </bs-col>
    </bs-row>
    <bs-row>
      <bs-col md="8">
        [[> module-entity-description]]
      </bs-col>
      <bs-col md="4" class-name="image">
        <mp-resource-thumbnail iri="{{entityiri}}"></mp-resource-thumbnail>
      </bs-col>
    </bs-row>
  </div>
</div>
<div class="entity-view-tabs">
  <!-- Hide image tab if no images present -->
  <semantic-if
    query="ASK { <{{entityiri}}> crm:P46_is_composed_of/crm:P138i_has_representation ?image . }"
    then=""
    else="{{> template-css-hide-images}}">
    <template id="template-css-hide-images">
      <style>
        .entity-view-tabs ul > li:nth-child(3) {
          display: none;
        }
      </style>
  </semantic-if>
  
  <bs-tab-container id="entity-details-tabs" default-active-key="relations">
    <div>
      <bs-nav bs-style="tabs">
        <bs-nav-item event-key="relations">
          <i18n>label_relations</i18n>
        </bs-nav-item>
        <bs-nav-item event-key="fields">
          <i18n>label_details</i18n>
        </bs-nav-item>
        <bs-nav-item event-key="images">
          <i18n>label_images</i18n>
        </bs-nav-item>
      </bs-nav>
      <bs-tab-content>
          <bs-tab-pane event-key="relations" title="Beziehungen">
            [[> component-relations-table]]
          </bs-tab-pane>
          <bs-tab-pane event-key="fields" title="Details">
            [[> component-fields-visualisation]]
            [[#if (hasPermission "api:ldp:*")]]
              [[> component-entity-external-data]]
            [[/if]]
            [[> component-source-link]]
          </bs-tab-pane>
          <bs-tab-pane event-key="images" title="Bilder">
            [[> component-images]]
          </bs-tab-pane>
      </bs-tab-content>
    </div>
  </bs-tab-container>

</div>

[[#*inline "component-fields-visualisation"]]
  <semantic-if
    query="ASK { <{{entityiri}}> a crm:E78_Curated_Holding . }"
    then="{{> template}}"
  >
    <template id="template">
      <mp-field-visualization
      subject="{{entityiri}}"
      fields='[[> partial:fieldDefinitions]]'
      template='{{> field-table-template }}'
    >
        <template id="field-table-template">
            {{#if noData}}
                <div class="bs-alert">No data</div>
            {{else}}
                <div class="table-responsive rs-table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 30%"><i18n>label_field</i18n></th>
                                <th scope="col"><i18n>label_value</i18n></th>
                            </tr>
                        </thead>
                        <tbody>
                        {{#each fields as |field|}}
                            {{#if field.values}}
                              {{#ifCond field.display "===" "hidden"}}
                              {{else}}
                                  <tr>
                                      <td>{{field.label.0.value}}</td>
                                      <td>
                                          {{#ifCond (objectLength field.values) '>' 1}}
                                              <ol>
                                                  {{#each field.values as |value|}}
                                                      <li>
                                                          {{> field-value-template field=field value=value}}
                                                      </li>
                                                  {{/each}}
                                              </ol>
                                          {{/ifCond}}

                                          {{#ifCond (objectLength field.values) '===' 1}}
                                              {{#each field.values as |value|}}
                                                  {{> field-value-template field=field value=value}}
                                              {{/each}}
                                          {{/ifCond}}
                                      </td>
                                  </tr>
                                {{/ifCond}}
                            {{/if}}                  
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/if}}
        </template>
        <template id="field-value-template">
            <div>
                {{#ifCond field.xsdDatatype.value "=="  "http://www.w3.org/2001/XMLSchema#string"}}
                {{value.value.value}}
                {{/ifCond}}
                {{#ifCond field.xsdDatatype.value "=="  "http://www.w3.org/2001/XMLSchema#langString"}}
                {{value.value.value}}{{#if value.value.language}} - {{value.value.language}}{{/if}}
                {{/ifCond}}
                {{#ifCond field.xsdDatatype.value "==" "http://www.w3.org/2001/XMLSchema#dateTime"}}
                {{value.value.value}}
                {{/ifCond}}
                {{#ifCond field.xsdDatatype.value "=="  "http://www.w3.org/2001/XMLSchema#anyURI"}}
                {{#if value.value.datatype}}
                    [[!-- in the messy data it can happen that field is anyURI but actual data is literal --]]
                    {{value.value.value}}
                {{else}}
                    <semantic-link class="external-link" iri="{{value.value.value}}"><mp-label iri="{{value.value.value}}"></mp-label></semantic-link>
                {{/if}}
                {{/ifCond}}
            </div>          
        </template>
    </mp-field-visualization>
    </template>
  </semantic-if>
[[/inline]]

[[#*inline "component-images"]]
<div class="jila-component card-container entity-details-images">
  <semantic-table
    query="SELECT DISTINCT ?image WHERE {
        BIND(<{{entityiri}}> as ?subject)
        ?subject crm:P46_is_composed_of/crm:P138i_has_representation/la:digitally_shown_by/la:digitally_available_via/la:access_point ?image .
    }"
    options='{
      "showFilter": false
    }'
    number-of-displayed-rows="12"
    tuple-template="{{> templateImage }}">
    <template id="templateImage">
        {{> templateThumbnailWithViewer iri=image.value}}
    </template>
    <template id="templateThumbnailWithViewer">
        <mp-overlay-dialog title="Image Viewer" type="modal" bs-size="large">
            <mp-overlay-dialog-trigger>
              <a href="#" class="jila-component card">{{> partial:entityCard subject=iri onlybody=true}}</a>
            </mp-overlay-dialog-trigger>
            <mp-overlay-dialog-content
                id="image-modal">
                    <mp-page-loader 
                        iri="[[ resolvePrefix 'page:viewImage']]"
                        urlqueryparam-imageiri="{{iri}}"
                        urlqueryparam-overlay="true"
                    ></mp-page-loader>
            </mp-overlay-dialog-content>
        </mp-overlay-dialog>
    </template>
  </semantic-table>
</div>
[[/inline]]

[[#*inline "component-relations-table"]]
  <semantic-query
    query="SELECT 
        (GROUP_CONCAT(DISTINCT ?subject;SEPARATOR=';') as ?subjects) 
        (COUNT(DISTINCT ?subject) as ?num_subjects) 
        ?predicate 
        (GROUP_CONCAT(DISTINCT ?object;SEPARATOR=';') as ?objects) 
        (COUNT(DISTINCT ?object) as ?num_objects) 
      WHERE {
        BIND(<{{entityiri}}> AS ?subject)
        GRAPH <https://resource.swissartresearch.net/graph/network> {
          ?subject ?predicate ?object .
        }
        ?subject a ?typeSubject .
        ?object a ?typeObject .
        VALUES (?typeSubject) {
          [[> query-partial-entity-types]]
        }
        VALUES (?typeObject) {
          [[> query-partial-entity-types]]
        }

      } 
      GROUP BY ?predicate"
    template='{{> template-relations-table}}' 
  >
      <template id="template-relations-table">
        <table class="jila-component relations-table">
          <tbody>
            {{#each bindings}}
              <tr>
                <th><mp-label iri="{{predicate.value}}"></mp-label></th>
                <td>{{> template-split-entities entities=objects numEntities=num_objects.value}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </template>

      <template id="template-split-entities">
        {{#ifCond numEntities ">" 3}}
          <details>
            <summary>
              <semantic-query
                query="SELECT DISTINCT ?type WHERE {
                  ?entity a ?type .
                  ?type rdfs:subClassOf* crm:E1_CRM_Entity .
                  VALUES (?entity) {
                    {{#each (split entities.value ';') }}
                      (<{{this}}>)
                    {{/each}}
                  }
                }"
                template="{{> template-types}}"
              >
                <template id="template-types">
                  <div>
                    {{#each bindings}}
                      <mp-label iri="{{type.value}}"></mp-label>{{#if @last}}{{else}}, {{/if}}
                    {{/each}} ({{numEntities}})
                  </div>
                </template>
              </semantic-query> 
            </summary>
            <semantic-table 
                id='grid-result'
                query='SELECT?subject ?label WHERE {
                    ?subject rdfs:label ?label
                    VALUES (?subject) {
                        {{#each (split entities.value ";")}}
                            (<{{this}}>)
                        {{/each}}
                    }
                } ORDER BY ?label'
                number-of-displayed-rows="10"
                options='{
                  {{#ifCond numEntities "<" 10}}
                    "showFilter": false,
                  {{/ifCond}}
                    "sorting": {"label": "asc"}
                }'
                tuple-template='{{> template-entity-tag subject=subject.value}}'
            >
              <template id="template-entity-tag">
                  <div class="jila-component entity-tag-row">
                      [[> template-entity-tag]]
                  </div>
              </template>
            </semantic-table>
          </details>
        {{else}}
          <ul class="jila-component entities-list">
          {{#each (split entities.value ";")}}
            <li>{{> template-entity-tag subject=this}}</li>
          {{/each}}
          </ul>
        {{/ifCond}}
      </template>

      <template id="template-entity-tag">
          [[> template-entity-tag]]
      </template>
    </semantic-query>
[[/inline]]

[[#*inline "component-source-link"]]
<div class="container-fluid">
  <bs-row>
    <bs-col sm="12">
      <semantic-link target="_blank" iri="{{entityiri}}"><i18n>button_show_source_data</i18n> <i class="fa fa-external-link"></i></semantic-link>
    </bs-col>
  </bs-row>
</div>
[[/inline]]

[[#*inline "module-entity-description"]]
  <semantic-query
  query="SELECT 
      ?content
      ?description 
      ?assignment_comment
      ?assignment_collection
      ?dateOfBirth
      ?dateOfDeath
      ?placeOfBirth
      ?placeOfDeath
      (GROUP_CONCAT(?profession; SEPARATOR=',') as ?professions) 
    WHERE {
    BIND(<{{entityiri}}> as ?subject)
    OPTIONAL {
      ?subject crm:P129i_is_subject_of ?contentDescription .
      ?contentDescription crm:P2_has_type aat:300435416 ;
        crm:P190_has_symbolic_content ?content .
    }
    OPTIONAL {
      ?subject crmdig:L54_is_same-as/gndo:professionOrOccupation ?profession .
    }
    OPTIONAL {
      ?subject crmdig:L54_is_same-as/gndo:biographicalOrHistoricalInformation ?description .
    }
    OPTIONAL {
      ?subject crmdig:L54_is_same-as/gndo:dateOfBirth ?dateOfBirth .
    }
    OPTIONAL {
      ?subject crmdig:L54_is_same-as/gndo:dateOfDeath ?dateOfDeath .
    }
    OPTIONAL {
      ?subject crmdig:L54_is_same-as/gndo:placeOfBirth ?placeOfBirth .
    }
    OPTIONAL {
      ?subject crmdig:L54_is_same-as/gndo:placeOfDeath ?placeOfDeath .
    }
    OPTIONAL {
      ?assignment crm:P141_assigned ?subject ;
        crm:P129i_is_subject_of/crm:P3_has_note ?assignment_comment ;
        crm:P140_assigned_attribute_to/^crm:P128_carries ?assignment_collection .
    }
  } GROUP BY 
  ?content
  ?description 
  ?assignment_comment
  ?assignment_collection
  ?dateOfBirth
  ?dateOfDeath
  ?placeOfBirth
  ?placeOfDeath
  LIMIT 1"
  template="{{> template-description}}"
  >
  <template id="template-description">
    {{#each bindings}}
      {{#if dateOfBirth.value}}
        {{#if dateOfDeath.value}}
          <p>{{dateTimeFormat dateOfBirth.value "DD.MM.YYYY"}}{{#if placeOfBirth.value}} (<mp-label iri="{{placeOfBirth.value}}"></mp-label>){{/if}} - {{dateTimeFormat dateOfDeath.value "DD.MM.YYYY"}}{{#if placeOfDeath.value}} (<mp-label iri="{{placeOfDeath.value}}"></mp-label>){{/if}}</p>
        {{else}}
          <p>{{dateTimeFormat dateOfBirth.value "DD.MM.YYYY"}}{{#if placeOfBirth.value}} (<mp-label iri="{{placeOfBirth.value}}"></mp-label>){{/if}} - </p>
        {{/if}}
      {{else}}
        {{#if dateOfDeath.value}}
          - {{dateTimeFormat dateOfDeath.value "DD.MM.YYYY"}}{{#if placeOfDeath.value}} (<mp-label iri="{{placeOfDeath.value}}"></mp-label>){{/if}}
        {{/if}}
      {{/if}}
      {{#if professions.value}}
        <p>
          {{#each (split professions.value ',')}}
            <mp-label iri="{{this}}"></mp-label>{{#unless @last}}, {{/unless}}
          {{/each}}
        </p>
      {{/if}}
      {{#if content.value}}
        <p>{{content.value}}</p>
      {{/if}}
      {{#if description.value}}
        <p>{{description.value}}</p>
      {{/if}}
      {{#if assignment_comment.value}}
        <p>{{assignment_comment.value}}
            {{#if assignment_collection.value}}
              <p>
                <small>
                  In Bezug auf 
                    <mp-event-trigger 
                      id='node-click-{{assignment_collection.value}}'
                      type="JILA.PanelNodeClicked"
                      data='{"node": "{{assignment_collection.value}}"}'
                    >
                      <a href="#">
                        <mp-label iri="{{assignment_collection.value}}"></mp-label>
                      </a>
                    </mp-event-trigger>
                  </small>
              </p>
            {{/if}}
        </p>

      {{/if}}
    {{/each}}
  </template>
  </semantic-query>
[[/inline]]

[[#*inline "component-entity-external-data"]]

<div class="table-responsive rs-table">
  <semantic-query
    query='SELECT ?externalEntity WHERE {
      BIND(<{{entityiri}}> AS ?entity)
      ?entity crmdig:L54_is_same-as ?gndEntity .
      ?gndEntity a gndo:AuthorityResource .
      SERVICE secondary:sparql {
        ?externalEntity owl:sameAs ?gndEntity
      }
    }'
    template='{{> template-external-data}}'
    >
    <template id="template-external-data">
        <table class="table table-hover">
          <thead>
            <tr>
              <th colspan="3">
                <i18n>label_external_data</i18n>
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each bindings}}
              <tr>
                <th>
                  <semantic-context repository="secondary">
                    <mp-label iri="{{externalEntity.value}}"></mp-label>
                  </semantic-context>
                </th>
                <td>
                  <semantic-link iri="page:exploreExternal" urlqueryparam-entityiri="{{externalEntity.value}}" target="_blank">
                    <i18n>button_explore</i18n>
                  </semantic-link>
                </td>
                <td>
                  <a href="{{externalEntity.value}}" target="_blank">
                    <i18n>button_open</i18n>
                  </a>
                </td>
              </tr>
            {{/each}}
          </tbody>
      </table>
  </semantic-query>
</div>

[[/inline]]

[[#*inline "template-entity-tag"]]
<semantic-query
    query='SELECT ?entity ?typeClass WHERE {
      BIND(<{{subject}}> AS ?entity)
      ?entity a ?type .
      VALUES(?type ?typeClass) {
        (crm:E21_Person "person")
        (crm:E39_Actor "actor")
        (crm:E74_Group "group")
        (crm:E5_Event "event")
        (crm:E22_Human-Made_Object "object")
        (crm:E53_Place "place")
        (crm:E78_Curated_Holding "collection")
      }
    } LIMIT 1'
    template="{{> template-tag-event-trigger}}">
      <template id="template-tag-event-trigger">
        <mp-event-trigger 
          id='node-click-{{bindings.0.entity.value}}'
          type="JILA.PanelNodeClicked"
          data='{"node": "{{bindings.0.entity.value}}"}'
        >
          <a href="#" class="jila-component tag {{bindings.0.typeClass.value}}">
            <mp-label iri="{{bindings.0.entity.value}}"></mp-label>
          </a>
      </mp-event-trigger>
      <mp-event-trigger 
        id='node-add-{{bindings.0.entity.value}}'
        type="JILA.PanelNodeAdd"
        data='{"node": "{{bindings.0.entity.value}}"}'
      >
        <div class="jila-component plus-button show-on-hover"><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></div>
    </mp-event-trigger>
    </template>
  </semantic-query>
  [[/inline]]

[[#*inline "query-partial-entity-types"]]
  (crm:E21_Person)
  (crm:E39_Actor)
  (crm:E74_Group)
  (crm:E53_Place)
  (search:Actor)
  (search:Collection)
  (search:Event)
  (search:Group)
  (search:Object)
  (search:Person)
  (search:Place)
[[/inline]]