
[[> component-citation-default]]

[[#*inline "component-citation-default"]]
    <div class="bso-component citation">

        <semantic-query
            query="SELECT
                    ?year
                    ?ownerLabel
                    ?placeLabel
                    ?link
                    ?subjectLabel
                    (GROUP_CONCAT(DISTINCT ?authorLabel; separator=' & ') as ?authorLabel)            
                WHERE {
                BIND(<{{entityiri}}> as ?subject)
                OPTIONAL {
                    ?subject rdfs:label ?entityLabel .
                }
                BIND(STR(?subject) as ?link)
                BIND(REPLACE(STR(?subject), CONCAT(REPLACE( STR(?subject) , '\\/[^/]*$', '' ),'/'), '') AS ?identifier )
                BIND(IF(BOUND(?entityLabel), ?entityLabel, ?identifier) as ?subjectLabel)
                BIND(<https://d-nb.info/gnd/1012546-2> as ?owner)
                BIND('Zentralbibliothek Zürich' as ?ownerLabel)
                BIND('Zürich' as ?placeLabel)
                OPTIONAL {
                    ?subject a crm:E78_Curated_Holding .
                    OPTIONAL {
                        ?subject crm:P108i_was_produced_by/crm:P9_consists_of/crm:P14_carried_out_by/rdfs:label ?author_label .
                    }
                }
                OPTIONAL {
                    ?subject crm:P108i_was_produced_by/crm:P4_has_time-span/rdfs:label ?document_date .
                }
                BIND(COALESCE(?author_label, 'JILA') as ?authorLabel)
                BIND(COALESCE(?document_date, '[[currentDateTime format='YYYY']]') as ?year)
            } 
            GROUP BY 
                ?year
                ?ownerLabel
                ?placeLabel
                ?link
                ?subjectLabel
            LIMIT 1"
            template="{{> citationTemplate}}">

            <template id="citationTemplate">
                {{> citationHTML author=bindings.0.authorLabel.value year=bindings.0.year.value owner=bindings.0.ownerLabel.value place=bindings.0.placeLabel.value link=bindings.0.link.value}}
                <mp-copy-to-clipboard 
                    text="{{bindings.0.authorLabel.value}}, {{bindings.0.year.value}}. {{bindings.0.subjectLabel.value}}. In Johannes Itten Linked Archive. {{#if bindings.0.ownerLabel.value}}{{#if bindings.0.placeLabel.value}}{{bindings.0.placeLabel.value}}: {{/if}}{{bindings.0.ownerLabel.value}}. {{/if}}Available at: {{bindings.0.link.value}}. Accessed [[currentDateTime format='dd.MM.YYYY']]"
                    message="Citation copied to clipboard"
                >
                    <button class="btn btn-secondary"><i class="fa fa-copy"></i></button>
                  </mp-copy-to-clipboard>&nbsp;
                <a download='{{bindings.0.identifier.value}}.bib' href='data:text/plain;utf8,@misc{ {{bindings.0.identifier.value}}, title = { {{bindings.0.subjectLabel.value}} }, url = { {{bindings.0.link.value}} }, publisher = { {{#if bindings.0.ownerLabel.value}}{{bindings.0.ownerLabel.value}}{{else}}JILA{{/if}} }, author = { {{bindings.0.authorLabel.value}} }, year = { {{bindings.0.year.value }} }}'>
                    <button class="btn btn-secondary"><i class="fa fa-download"></i></button>
                </a>
            </template>

            <template id="citationHTML">
                {{author}}, {{year}}. <mp-label iri='{{entityiri}}'></mp-label>. In <em>Johannes Itten Linked Archive</em>.                 
                {{#if owner}}{{#if place}}{{place}}: {{/if}}
                {{owner}}.{{/if}}
                Available at: <a href="{{link}}">{{link}}</a>. Accessed [[currentDateTime format='dd.MM.YYYY']]
            </template>

        </semantic-query>
    </div>
[[/inline]]


